# MongoDB

username- saurabhp850

pswd- 844120

# mongoimport mongoexport using command line

- `mongoexport --uri="" --collection= --fields= --out=`

        --fields: specify the fields to include in the output(should be comma separated)

Example: `mongoexport --uri="mongodb+srv://saurabhp850:<password>@training.3kq9u.mongodb.net/import_export_db" --collection=import_export_col --out=mycollection.json`


- `mongoimport --uri="" --collection= --headerline --file=`

        --headerline: Indicates that the first line of the file contains field names(in case of csv).

Example: `mongoimport --uri="mongodb+srv://saurabhp850:<password>@training.3kq9u.mongodb.net/import_export_db" --collection=mycollection --file=mycollection.json`

**NOTE:** The `mongoimport` command does not natively support selecting specific fields to import. It always imports all fields from the provided file.

# mongodump mongorestore

The `mongodump` command is used to create a backup of your MongoDB database. It exports the data into a binary format that can later be restored using the `mongorestore` command.

- `mongodump --uri="mongodb+srv://saurabhp850:<password>@training.3kq9u.mongodb.net/import_export_db"`

- `mongorestore --uri="mongodb+srv://saurabhp850:<password>@training.3kq9u.mongodb.net/import_export_db" dump/import_export_db`

# creating/deleting databases and collections

- `show dbs` : display all databases
- `use <databse_name>` :  used to switch to a specific database or create one if it doesn't already exist. 
- `show collections` : used to display the names of all collections in the current database.
- `db.createCollection("<collection_name>")` : used to explicitly create a collection in the current database.
- `db.<collection_name>.drop()` : used to delete an entire collection from the current database. Once a collection is dropped, all its data and indexes are permanently removed.
- `db.dropDatabase()` : used to delete the entire current database. This operation removes all collections, documents, and indexes within the database, and the database itself will no longer exist.

- `db.<collection_name>.findOne()` : retrieves a single document from the specified collection.
- `db.<collection_name>.find()` : retrieves multiple documents from a specified collection.

Both of these take two parameter: `<query>, <projection>`

Examples:

- `db.grades.find({"class_id":449})`
- `db.grades.find({"student_id":1, "class_id":270})` : mutiple condition

# use of $

1. Precedes operators in MQL

        $lt : less than Example: {"salary":{$lt:5000}}
2. Precedes field values
3. Aggregation pipeline

# comparison operator

- `$eq` : equal to

        {"salary":5000} is same as {"salary":{$eq:5000}}

- `$ne` : not equal to
- `$lt` : less than
- `$gt` : greater than
- `$lte` : less than or equal to
- `$gte` : greater than or equal to
- `$in` 

        {"salary":{$in:[5000, 12000]}}

- `$nin` : not in

# logical operators

- `$and` : syntax- {operator:[{condition1}, {condition2}, ...]}
- `$or` : syntax- {operator:[{condition1}, {condition2}, ...]}
- `$nor` : returns all documents that fail all of the conditions. syntax- {operator:[{condition1}, {condition2}, ...]}
- `$not` : returns all documents that do not match the expression. syntax- {$not:{condition}}

**Examples:**

- db.trips.find({$and: [{"tripduration":{$gt:400}}, {"birth year":{$gt:1998}}]})

above query is same as:

- db.trips.find({"tripduration":{$gt:400}}, {"birth year":{$gt:1998}})

This is because `$and` is used by default as an implicit operator when no other operators or duplicate fields are specified.

- db.trips.find({$and: [{"tripduration":{$lt:400}}, {"tripduration":{$gt:300}}]})

above query is not same as:

- db.trips.find({"tripduration":{$lt:400}}, {"tripduration":{$gt:300}})

This is because `{"tripduration":{$lt:400}}, {"tripduration":{$gt:300}}` gets evaluated as `{"tripduration":{$gt:300}}`. That is first condition is overwritten by second. But when the conditions are a part of the array with `$and` operator they both get evaluated.

One more shortcut way is that is when we using more than one condition on same field and we want all conditions to be matched then we can use like this: `{"tripduration":{$lt:400, $gt:300}}`.

- db.trips.find({"usertype":{$not:{$eq:"Subscriber"}}})

# $expr

The `$expr` operator in MongoDB allows you to use aggregation expressions within a query. This enables complex comparisons and evaluations using fields within a document during query matching, which would not be possible with regular query operators.

syntax- {$expr: {operator: [field, value]}}

**Examples:**

- `db.routes.find({$expr:{$eq:["$src_airport", "$dst_airport"]}})`
- `db.routes.find({"airplane":{$eq:"CR2"}})` - without using `$expr`
- `db.routes.find({$expr:{$eq:["$airplane", "CR2"]}})` - using `$expr`

### Common Use Cases:
- Compare one field with another in the same document.
- Use computed values for filtering.
- Combine logical and arithmetic expressions for advanced filtering.

### key points:
- `$expr` can be slower than regular queries, especially on large collections, as it evaluates each document individually.
- Queries using `$expr` often cannot use indexes efficiently. Use it only when necessary for complex queries.
- If the query gets too complex, consider using the aggregation pipeline for better readability and flexibility.

# element operators

- `$exists` : returns documents that contain the specified fields. syntax- `{field:{$exists: <boolean>}}
- `$type` : returns fields that contain values of a specific data type. syntax- `{field:{$type: <BSON type>}}` OR `{field: {$type:[<BSON type1>, <BSON type2>, ...]}}`

# cursor method

- count() : returns the number of documents in the result set.
- sort() : orders the documents based on specified fields
- limit() : limits the number of documents returned
- skip() : skips the first X number of documents
- size() : size is like count in that it returns a count of the documents, however it should be used when you've applied skip or limit to your records.

**Examples:**

- `db.trips.find().count()`
- `db.trips.find({"tripduration":{$gt:300}}).count()`
- `db.trips.find({"tripduration":{$gt:300, $lt:400}}).count()`
- `db.trips.find({"tripduration":{$gt:300, $lt:400}}).sort({"tripduration":-1})` - descending order
- `db.trips.find({"tripduration":{$gt:300, $lt:400}}).sort({"tripduration":1})` - ascending order
- `db.trips.find({"tripduration":{$gt:300, $lt:400}}).sort({"start station name":1, "tripduration":-1})`
- `db.trips.find().limit(12)`
- `db.trips.find().limit(12).count()`
- `db.trips.find().limit(12).size()`

# projection

db.collection.find({query},{projection})

- `db.companies.find({},{"name":1, "founded_year" :1})` -  return id, name and founded_year fields
- `db.companies.find({},{"name":1, "founded_year" :1, "_id":0})` - will not return id field

# querying ebmedded documents

- db.inspections.find({"address.zip":11427})

# querying arrays

- db.posts.find({"tags":"roof"}, {"tags" :1})
- db.posts.find({"tags": ["current", "quartz", "textbook", "bus", "roof", "lentil", "flute", "mile", "spain", "sagittarius"]}, {"tags" :1}) - return documents with matching order of tags

- `$all` : returns all documents where the value of a field is an array that contains all the specified elements and ordering does not matter. syntax- `db.collection.find({field:{$all: [value1, value2 ...]}})`

- `$size` : returns all documents that match the specified array size. syntax- `db.collection.find({field:{$size: value}})`

- db.grades.find({"scores.type":"exam"})

- db.grades.find({"scores.type":"exam", "scores.score": {$gt:80}})

Above query will not give desired result. To get desired result we need to user `$elemMatch`.

- `$elemMatch` : returns documents that contain an array field with an element that contains the matching criteria. syntax- `db.collection.find({field:{$elemMatch:{{query1},{query2},..}}})`

- db.grades.find({"scores": {$elemMatch: {"type":"exam", "score": {Sgt:80}}}})

# inserting documents

- db.testcollection.insert({"name": "Tom Hanks", "profession": "actor"}) -  id genertaed automatically
- db.testcollection.insert({"_id":123, "name": "Tom Hanks", "profession": "actor"}) - specifying id manually
- db.testcollection.insert({"name":"Al Pacino", "films": ["Godfather trilogy", "Scarface", "Serpico"], "awards": {"academy": true, "golden globes":true}})

- db.testcollection.insert([{"name": "ramesh", "salary":200}, {"name": "rajesh", "salary":250}, {"name": "ganesh", "salary":300}]) - inserting multiple documents

# deleting documents

- db.testcollection.deleteOne({"name":"ramesh"})
- db.testcollection.deleteMany({"salary":{$lt:260}})

# `Updating Documents

- syntax- `db.collection.updateOne({filter}.{update},{options})`
- syntax- `db.collection.updateMany({filter}.{update},{options})`

- `db.collection.updateOne({filter}, {$set:{field:value, ...},{options})`
- `db.coliection.updateMany({fiiter}, {$set:{field:vaiue, ...}, {options})`

**Examples:**

- `db.people.updateOne({"profession": "chef"}, {$set: {"profession": "cook"}})`
- `db.people.updateMany({"profession": "chef"}, {$set: {"profession": "cook"}})`
- `db.people.updateMany({"name": "Jess Raymond"}, {$set:{"hobbies_list":["swimming", "reading" ]}})`

if we update field with `$set` that doesn't exist then that field will be created.

- `db.people.updateMany({}, {$set:{"new_field":1}})`
- `db.people.updateMany({"name": "Jess Raymond"), {$set: {"profession":"architect", "age" :3072}})` - updating mutiple fields

# update operators

- `$set` : sets the value of a field in a document. If the field does not exist, it creates the field and sets the value.
- `$unset` : removes a specified field from a document.
- `$inc` : increments the value of a field by a specified amount. If the field doesn’t exist, it is created and initialized to the increment value.
- `$rename` : renames a field in a document.
- `$push` : adds an element to an array field. If the field doesn’t exist, it creates an array and adds the element.

**Examples:**

- `db.people.updateMany({}, {$unset: {"new_field":""}, $rename:{"hobbies_list":"hobbies"}})`
- `db.people.updateMany({"name": "Meera Patel"}, {$push: {"hobbies": "reading"}})`
- `db.people.updateMany({}, {$inc:{"age":1}})`

# upsert

The term upsert is a combination of update and insert. It refers to an operation that either updates an existing document if it matches the query or inserts a new document if no match is found.

- `db.people.updateMany({"name": "unknown"}, {$set: {"age" :25}})` - no document inserted or changed
- `db.people.updateMany({"name": "unknown"}, {$set: {"age" :25}}, {upsert:true})`

# $match

db.collection.aggregate([{stage 1}, {stage 2}, ... {stage N}],{options})

- `db.companies.aggregate([{$match: {"founded_year": {$gte:2005, $lte:2010}}}])`
- `db.companies.aggregate([{$match:{"founded_year":{$in: [2005, 2006,2007,2008, 2009, 2010]}}})
- `db.grades.aggregate([{$match:{"class_id":116}}])`
- `db.grades.aggregate([{$match:{"scores": {$elemMatch: {"type": "exam", "score": {Sgt:85}}}}}])`

# $project

- `$project` stage can occur multiple times in pipeline.

- `db.companies.aggregate([{$match: {"founded_year": {$gte:2005,$lte:2010}}}, {$project: {"founded_year":1, "category_code": 1}}])`
- `db.companies.aggregate([{$match: {"founded_year": {$gte:2005,$lte:2010}}}, {$project: {"founded_year":1, "category_code": 1, "_id":0}}])`
- `db.companies.aggregate([{$project:{"external_links.external_url":1,"_id":0}}])`
- `db.companies.aggregate([{$project:{"number_of_employees":1,"_id":0}}])`
- `db.companies.aggregate([{$project:"_id":0,"number_of_employees":1,"no_of_emp_new":"$number_of_employees"}])`

- `db.companies.aggregate([{$project:{"_id":0, "number_of_employees":1, "number_of_employees_K": {$divide: ["$number_of_employees", 100]}}}])`
- `db.companies.aggregate([{$project: {"name":1, "founded_year" :1,"_id" :0}}])`
- `db.companies.aggregate([{$project: {"name":1, "founded_year": "$name", "_id" :0}}])`
- `db.companies.aggregate([{$project: {"company_name": "$name", "founded_year": "$name", "_id" :0}}])`

# arithmetic expression operator

- `$add` : syntax- `{$add: [expression1, expression2,...expressionN]}`
- `$subtract` : syntax- `{$subtract: [expression1, expression2]}`
- `$divide` : syntax- `{$divide: [expression1, expression2]}`
- `$multiply` : syntax- `{$multiply: [expression1, expression2,...expressionN]}`
- `$round` : syntax- `{$round:[expression, no_of_decimals]}`

**Examples:**

- `db.trips.aggregate([{$project: {"tripduration":1, "tripduration_hrs":{$divide:["$tripduration", 60]}}}])`
- `db.trips.aggregate([{$project: {tripduration: 1,tripduration_hrs: { $round: [{ $divide: ["$tripduration", 60] }, 1] }}}])`

- `db.trips.aggregate([{$match:{"birth_year":{$gt:{$multiply:["$tripduration",31}}}}])` this will not work. Here is correct query:
- `db.trips.aggregate([{$match: {$expr: {$gt:[{$multiply:["$tripduration",31), "$birth_year"]}]}}])`

# string expression operator

- `$concat` : syntax- `{$concat: [expression1, expression2,... expressionN]}`
- `$toUpper` : syntax- `{$toUpper: expression}`
- `$toLower` : syntax- `{$toLower: expression}`
- `regexMatch` : syntax- `{$regexMatch:{input:expression, regex:expression, options:expression}}`

**Examples:**

- `db.trips.aggregate([{$project:{"start station name":{$toUpper:"$start station name"}}}])`
- `db.trips.aggregate([{$project:{"start station name":1, "howard_flag": {$regexMatch:{input: "$start station name", regex: "Howard"}}}}])`
- `db.trips.aggregate([{$project:{"start station name":1, "journey":{$concat: ["$start station name"," - ","$end station name"]}}}])`

# date expression operator

- `$dateAdd` : syntax- `{$dateAdd:{startDate:Expression, unit:Expression, amount:Expression, timezone:Expression}}`
- `$dateDiff` : syntax- `{$dateDiff: {startDate:Expression, endDate:Expression, unit:Expression, timezone:Expression, startOfWeek:string}}`
- `$month` : syntax- `{$month: Expression}`

**Examples:**

- `db.trips.aggregate([{$project: {"start time":1, "month_no": {$month: "$start time" }}}]`

# comparison expression operator

- `{operator:[expression1, expression2]}`
- Query language syntax- `{field:{operator: value}}`

**Examples:**

- `db.trips.aggregate([{$match: {"tripduration": {$gt:1007}}])` - query operator syntax
- `db.trips.aggregate({$match: {$expr:{$gt:["$tripduration", 1003]}}})`

Remember in `$project` stage we can use expression operator without `$expr`.

- `db.trips.aggregate([{$project:["tripduration":1, "over100flag":{$gt:["$tripduration",1003]}}}])`
- `db.trips.aggregate([{$project: ["tripduration":1, "over100flag":{"tripduration":{Sgt:100}}}])` - Error

# Array Expression Operators