# What is Database?
A datbase is collection of related information in a systematic manner for a specific purpose.

# What is DBMS?
A DBMS is a software system that enables user to define, create and maintain the database and provide controlled access to this database through the application program.

# 3 layer structure of DBMS
- External view: The view schema describes the end user interaction with database systems. **`select * from student`**, **`select roll, name from student`**

- Logical view: The conceptual level describes what data are to be stored in the database and also describes what relationship exists among those data. **`describe student`**

- Internal view: It describes the physical storage structure of the database. It uses the physical data model. It is used to define that how the data will be stored in a block.

# What is SQL?
SQL is a short-form of the structured query language, and it is pronounced as S-Q-L or sometimes as See-Quell.
This database language is mainly designed for maintaining the data in relational database management systems.

# Different types of SQL statements/commands?
**DDL**: Data defintion language. It is concerned with database schemas and descriptions of how data should be stored in the database. It is autocommitted. 

Example: 
- `CREATE`: CREATE TABLE EMPLOYEE(Name VARCHAR2(20), Email VARCHAR2(100), DOB DATE);  
- `DROP`: DROP TABLE EMPLOYEE;  
- `ALTER`: ALTER TABLE STU_DETAILS ADD(ADDRESS VARCHAR2(20));  
ALTER TABLE STU_DETAILS MODIFY (NAME VARCHAR2(20));  
- `TRUNCATE`: TRUNCATE TABLE EMPLOYEE;  

**DML**: Data manipulation language. It is used to modify the database. It is not autocommitted. 

Example:
- `INSERT`: INSERT INTO javatpoint (Author, Subject) VALUES ("Sonoo", "DBMS");   
- `UPDATE`: UPDATE students SET User_Name = 'Sonoo' WHERE Student_Id = '3'  
- `DELETE`: DELETE FROM javatpoint WHERE Author="Sonoo";  

**DCL**: Data control language. It is used to grant and take back authority from any database user. 

Example: 
- `GRANT`: GRANT SELECT, UPDATE ON MY_TABLE TO SOME_USER, ANOTHER_USER;   
- `REVOKE` REVOKE SELECT, UPDATE ON MY_TABLE FROM USER1, USER2;  

**TCL**: Transaction control language. It deals with transactions within a database, which are groups of related DML statements treated as a single unit. 

Example: 
- `COMMIT`: DELETE FROM CUSTOMERS WHERE AGE = 25;  
COMMIT;    
- `ROLLBACK`: DELETE FROM CUSTOMERS WHERE AGE = 25;  
ROLLBACK;  
- `SAVEPOINT`: SAVEPOINT SAVEPOINT_NAME;  

**DQL**: Data querry language. It is used to fetch the data from the database. 

Example: 
- `SELECT`: SELECT emp_name FROM employee WHERE age > 20;

In [1]:
# table word is used with CREATE, ALTER, DROP, TRUNCATE

# What is key?
Key is a value helps in identifying a particular records from a set of records.

1. **Primary key:** Primary key (PK) that uniquely identifies each row in the table.
    - create table test(roll number primary key, address varchar(19)); 
    - create table test(roll number, address varchar(19), primary key(roll)); 
2. **Composite key:** When multiple columns are used as a primary key, it is known as composite primary key.
    - create table order(orderno number, address varchar, primary key(orderno, itemno));
3. **Foreign key:** Foreign key is column or set of column in a table that refers to the primary key of another table. It extablishes reslationship between two tables.
    - create table sport(roll number references test, sport  varchar(10));
    - create table sport(roll number, sport  varchar(10), foreign key(roll) references test);
    
- `create table pro(ecode number primary key references employer, pname varchar(10));` --> Table having primary key and foreign key at same time.

4. **Candidate key:** Colummn having feature of becoming primary key is called candidate key.
5. **Alternate key:** After selecting primary key column out of many candidate key the remaining columns are known as alternate key.
6. **Secondary key:** Not a ture key but can be used to extract selected as records. Example: select * from employee where city='delhi' Here city is secodnary key
7. **Super key:**  Any valid combination of primary key withany ohter attribute is called super key

# Primary key query

- CREATE TABLE Persons (
    ID int NOT NULL PRIMARY KEY,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int
);

- CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    CONSTRAINT PK_Person PRIMARY KEY (ID,LastName)
);

- ALTER TABLE Persons
ADD PRIMARY KEY (ID);

- ALTER TABLE Persons
ADD CONSTRAINT PK_Person PRIMARY KEY (ID,LastName);

- ALTER TABLE Persons
DROP PRIMARY KEY;

- ALTER TABLE Persons
DROP CONSTRAINT PK_Person;

# Foreign key query

- CREATE TABLE Orders (
    OrderID int NOT NULL PRIMARY KEY,
    OrderNumber int NOT NULL,
    PersonID int FOREIGN KEY REFERENCES Persons(PersonID)
);

- CREATE TABLE Orders (
    OrderID int NOT NULL,
    OrderNumber int NOT NULL,
    PersonID int,
    PRIMARY KEY (OrderID),
    CONSTRAINT FK_PersonOrder FOREIGN KEY (PersonID)
    REFERENCES Persons(PersonID)
);

- ALTER TABLE Orders
ADD FOREIGN KEY (PersonID) REFERENCES Persons(PersonID);

- ALTER TABLE Orders
ADD CONSTRAINT FK_PersonOrder
FOREIGN KEY (PersonID) REFERENCES Persons(PersonID);

- ALTER TABLE Orders
DROP FOREIGN KEY FK_PersonOrder;

- ALTER TABLE Orders
DROP CONSTRAINT FK_PersonOrder;

# Commonly used query

**Inserting data:**
- insert into student(roll,city) values(77,'Patna');
- insert into student(77, null, 'Patna');

**Add coulumn:**
- alter table student add(mobile number);

**Change datatype:**
- alter table student modify(mobile varchar(10));

**Delete coulmn:**
- alter table student drop column city;
- alter table student drop(city, roll);

**Update value:**
- update student set mobile =1234;
- update student set mobile=987, city='delhi' where roll=99;

**Making column empty:**
- update student set mobile=null where city='kanpur';

**Delete table and record:**
- drop table student;  ---> delete table along with record
- truncate table student;   ---> only delete records not table
- delete from student;   ---> only delete records not table
- delete from student where roll=12;

# What is constraints?
SQL constraints are used to specify rules for data in a table.

- `NOT NULL`: CREATE TABLE Persons (
    ID int `NOT NULL`,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255) NOT NULL,
    Age int
);

- `UNIQUE`: CREATE TABLE Persons (
    ID int `UNIQUE`,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255) NOT NULL,
    Age int
);

- `CHECK`: CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255) NOT NULL,
    Age int `CHECK`(age>18)
);

- `DEFAULT`: CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255) NOT NULL,
    Age int `DEFAULT` 0
);

- `INDEX`: CREATE `INDEX` idx_lastname
ON Persons (LastName);

**We can apply more than one constraints as well on one column:**

- CREATE TABLE Persons (
    ID int ,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255) NOT NULL,
    Age int `NOT NULL` `UNIQUE` `CHECK`(AGE>18)
    
**We can name constraints as well:**

- create table sample(roll primary key, name varchar(20) `CONSTRAINT` my_constraint `UNIQUE`);
- alter table sample drop my_constraint;

# How can we check constraints applied on existing table?
- describe user_constraints;
- select constraint_name, constraint_type, search_condition from user_constraints where table_name='SAMPLE';

# What is subquery?
A subquery is a query nested within another query. It can be used to retrieve data from one table based on values from another table.

# What is corelated subquery?
A corlated subquery is a subquery that references columns from the outer query. It is executed for each row of outer query.

# What is JOIN?
A JOIN clause is used to combine rows from two or more tables, based on a related column between them.

- SELECT Orders.OrderID, Customers.CustomerName
FROM Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;

- SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
ORDER BY Customers.CustomerName;

- SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
FROM Orders
RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID;

- SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CustomerName;

# Difference between join and subquery?
A subquery is a query nested within another query while join is used to combine rows from two or more table based on related columns.

# What is self join?
Self join is join operation where table is joined with itself. It is useful when we want to compare rows with the same table.

- SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City
ORDER BY A.City;

# Difference between UNION and JOIN
UNION is used to combine the result-set of two or more SELECT statements while JOIN combines columns from two or more tables horizontally based on related column.

# What is view?
A view is a virtual table derived from one or more tables. It does not store data but provides a way to present data in a customised or simple manner.
- create view my_view a select city, roll from student;

# What is stored procedure?
A stored procedure is a precompiled set of SQL statements that perform a particular task.

- CREATE PROCEDURE SelectAllCustomers
AS
SELECT * FROM Customers
GO;
- EXEC SelectAllCustomers;

# What is CASE experession?
The CASE expression goes through conditions and returns a value when the first condition is met (like an if-then-else statement).
- <pre>
SELECT OrderID, Quantity,
CASE
    WHEN Quantity > 30 THEN 'The quantity is greater than 30'
    WHEN Quantity = 30 THEN 'The quantity is 30'
    ELSE 'The quantity is under 30'
END AS QuantityText
FROM OrderDetails;
</pre>

# Difference between GROUP BY  and HAVING clause
GROUP BY  is used to group rows based on one or more columns, while HAVING is used to filter grouped rows based on specific condition.

# Difference between WHERE and HAVING clause
WHERE is used to filter rows before grouping in query while HAVING is used to filter grouped rows after grouping

# What is purpose of SAVEPOINT statement?
A SVEPOINT statement is used to define a specific point within a transaction to which you can roll back. It allows us to undo changes upto specific savepoint without rolling back entire transaction.

# What is normalization?
Normalization is process of organizing data in a database to eliminate rdundency and depedndency issues. It involves splitting tables into smaller, more manageable entities.

- 1NF: It states that an attribute of a table cannot hold multiple values. It must hold only single-valued attribute.
- 2NF: Should be in 1NF and all non-key attributes are fully functional dependent on the primary key.
- 3NF: Sould be in 2NF and non key coulmns depend only on primary key not on other non-key column.
- 4NF: Should be in BCNF and no multivalued dependency OR For single value of A multiple value of B should not exist
- 5NF: Should be in 4NF and eliminate joining dependency

# What is transaction?
The transaction is a set of logically related operation. It contains a group of tasks.

# What is ACID property?
To ensure integrity of data, database must follow ACID properties:

- Atomicity: Either all operations of transaction are properly reflected in the database or none 
- Consistency: if a change in the database is made, it should remain preserved always
- Isolation: It means if two operations are being performed on two different databases, they may not affect the value of one another. In the case of transactions, when two or more transactions occur simultaneously, the consistency should remain maintained. Any changes that occur in any particular transaction will not be seen by other transactions until the change is not committed in the memory.
- Durability: Data after the successful execution of the operation becomes permanent in the database. The durability of the data should be so perfect that even if the system fails or leads to a crash, the database still survives.

# What is deadlock?
A deadlock is a situation where two or more transactions are unable to proceed because each is waiting for a resource held by another transaction.