# creating dataframe

In [1]:
import findspark
findspark.init()
findspark.find()

'D:\\Programs\\spark\\spark-3.5.3-bin-hadoop3'

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("learnPySpark").getOrCreate()
spark

In [3]:
type(spark)

pyspark.sql.session.SparkSession

In [4]:
dir(spark)

['Builder',
 '__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_activeSession',
 '_conf',
 '_convert_from_pandas',
 '_createFromLocal',
 '_createFromRDD',
 '_create_dataframe',
 '_create_from_pandas_with_arrow',
 '_create_shell_session',
 '_getActiveSessionOrCreate',
 '_get_numpy_record_dtype',
 '_inferSchema',
 '_inferSchemaFromList',
 '_instantiatedSession',
 '_jconf',
 '_jsc',
 '_jsparkSession',
 '_jvm',
 '_repr_html_',
 '_sc',
 'active',
 'addArtifact',
 'addArtifacts',
 'addTag',
 'builder',
 'catalog',
 'clearTags',
 'client',
 'conf',
 'copyFromLocalToFs',
 'createDataFrame',
 'getActiveSession',
 'getTags',
 'interruptAll',
 'interruptOperation',
 'interruptTag',
 'newSession',
 'range',
 'read',
 'readStream',
 'removeTag',
 'sparkContext',
 'sql',
 'stop',
 'streams',
 'table',
 'udf',
 'udtf',
 'version']

In [5]:
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
    or a :class:`numpy.ndarray`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
        :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None. The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.

        When ``schema`` is a list of column names, the type of each column
        will be inferred from ``data``.

        When ``schema`` is ``None``, it will try to infer the schema (column names and types)
        from ``data``, which should be an RDD of either :class:`Row`,
        :class:`namedtuple`, or :class:`dict`.

        When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
        match the real data, or an exception will be thrown at runtime. If the given schema is
        not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
        :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
        "value". Each record will also be wrapped into a tuple, which can be converted to row
        later.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring. The first few rows will be used
        if ``samplingRatio`` is ``None``.
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

        .. versionadded:: 2.1.0

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.

    Examples
    --------
    Create a DataFrame from a list of tuples.

    >>> spark.createDataFrame([('Alice', 1)]).show()
    +-----+---+
    |   _1| _2|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a list of dictionaries.

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  1|Alice|
    +---+-----+

    Create a DataFrame with column names specified.

    >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the explicit schema specified.

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> spark.createDataFrame([('Alice', 1)], schema).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the schema in DDL formatted string.

    >>> spark.createDataFrame([('Alice', 1)], "name: string, age: int").show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create an empty DataFrame.
    When initializing an empty DataFrame in PySpark, it's mandatory to specify its schema,
    as the DataFrame lacks data from which the schema can be inferred.

    >>> spark.createDataFrame([], "name: string, age: int").show()
    +----+---+
    |name|age|
    +----+---+
    +----+---+

    Create a DataFrame from Row objects.

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> df = spark.createDataFrame([Person("Alice", 1)])
    >>> df.show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a pandas DataFrame.

    >>> spark.createDataFrame(df.toPandas()).show()  # doctest: +SKIP
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    +---+---+
    |  0|  1|
    +---+---+
    |  1|  2|
    +---+---+

In [6]:
data = [(1, "manish"), (2, "ramesh")]

df = spark.createDataFrame(data=data, schema=['id', 'name'])

In [7]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

In [8]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
from pyspark.sql.types import *

help(StructType)

Help on class StructType in module pyspark.sql.types:

class StructType(DataType)
 |  StructType(fields: Optional[List[pyspark.sql.types.StructField]] = None)
 |
 |  Struct type, consisting of a list of :class:`StructField`.
 |
 |  This is the data type representing a :class:`Row`.
 |
 |  Iterating a :class:`StructType` will iterate over its :class:`StructField`\s.
 |  A contained :class:`StructField` can be accessed by its name or position.
 |
 |  Examples
 |  --------
 |  >>> from pyspark.sql.types import *
 |  >>> struct1 = StructType([StructField("f1", StringType(), True)])
 |  >>> struct1["f1"]
 |  StructField('f1', StringType(), True)
 |  >>> struct1[0]
 |  StructField('f1', StringType(), True)
 |
 |  >>> struct1 = StructType([StructField("f1", StringType(), True)])
 |  >>> struct2 = StructType([StructField("f1", StringType(), True)])
 |  >>> struct1 == struct2
 |  True
 |  >>> struct1 = StructType([StructField("f1", CharType(10), True)])
 |  >>> struct2 = StructType([StructField("f1", CharType(10), True)])
 |  >>> struct1 == struct2
 |  True
 |  >>> struct1 = StructType([StructField("f1", VarcharType(10), True)])
 |  >>> struct2 = StructType([StructField("f1", VarcharType(10), True)])
 |  >>> struct1 == struct2
 |  True
 |  >>> struct1 = StructType([StructField("f1", StringType(), True)])
 |  >>> struct2 = StructType([StructField("f1", StringType(), True),
 |  ...     StructField("f2", IntegerType(), False)])
 |  >>> struct1 == struct2
 |  False
 |
 |  The below example demonstrates how to create a DataFrame based on a struct created
 |  using class:`StructType` and class:`StructField`:
 |
 |  >>> data = [("Alice", ["Java", "Scala"]), ("Bob", ["Python", "Scala"])]
 |  >>> schema = StructType([
 |  ...     StructField("name", StringType()),
 |  ...     StructField("languagesSkills", ArrayType(StringType())),
 |  ... ])
 |  >>> df = spark.createDataFrame(data=data, schema=schema)
 |  >>> df.printSchema()
 |  root
 |   |-- name: string (nullable = true)
 |   |-- languagesSkills: array (nullable = true)
 |   |    |-- element: string (containsNull = true)
 |  >>> df.show()
 |  +-----+---------------+
 |  | name|languagesSkills|
 |  +-----+---------------+
 |  |Alice|  [Java, Scala]|
 |  |  Bob|[Python, Scala]|
 |  +-----+---------------+
 |
 |  Method resolution order:
 |      StructType
 |      DataType
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getitem__(self, key: Union[str, int]) -> pyspark.sql.types.StructField
 |      Access fields by name or slice.
 |
 |  __init__(self, fields: Optional[List[pyspark.sql.types.StructField]] = None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self) -> Iterator[pyspark.sql.types.StructField]
 |      Iterate the fields
 |
 |  __len__(self) -> int
 |      Return the number of fields.
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  add(self, field: Union[str, pyspark.sql.types.StructField], data_type: Union[str, pyspark.sql.types.DataType, NoneType] = None, nullable: bool = True, metadata: Optional[Dict[str, Any]] = None) -> 'StructType'
 |      Construct a :class:`StructType` by adding new elements to it, to define the schema.
 |      The method accepts either:
 |
 |          a) A single parameter which is a :class:`StructField` object.
 |          b) Between 2 and 4 parameters as (name, data_type, nullable (optional),
 |             metadata(optional). The data_type parameter may be either a String or a
 |             :class:`DataType` object.
 |
 |      Parameters
 |      ----------
 |      field : str or :class:`StructField`
 |          Either the name of the field or a :class:`StructField` object
 |      data_type : :class:`DataType`, optional
 |          If present, the DataType of the :class:`StructField` to create
 |      nullable : bool, optional
 |          Whether the field to add should be nullable (default True)
 |      metadata : dict, optional
 |          Any additional metadata (default None)
 |
 |      Returns
 |      -------
 |      :class:`StructType`
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.types import IntegerType, StringType, StructField, StructType
 |      >>> struct1 = StructType().add("f1", StringType(), True).add("f2", StringType(), True, None)
 |      >>> struct2 = StructType([StructField("f1", StringType(), True),
 |      ...     StructField("f2", StringType(), True, None)])
 |      >>> struct1 == struct2
 |      True
 |      >>> struct1 = StructType().add(StructField("f1", StringType(), True))
 |      >>> struct2 = StructType([StructField("f1", StringType(), True)])
 |      >>> struct1 == struct2
 |      True
 |      >>> struct1 = StructType().add("f1", "string", True)
 |      >>> struct2 = StructType([StructField("f1", StringType(), True)])
 |      >>> struct1 == struct2
 |      True
 |
 |  fieldNames(self) -> List[str]
 |      Returns all field names in a list.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.types import StringType, StructField, StructType
 |      >>> struct = StructType([StructField("f1", StringType(), True)])
 |      >>> struct.fieldNames()
 |      ['f1']
 |
 |  fromInternal(self, obj: Tuple) -> 'Row'
 |      Converts an internal SQL object into a native Python object.
 |
 |  jsonValue(self) -> Dict[str, Any]
 |
 |  needConversion(self) -> bool
 |      Does this type needs conversion between Python object and internal SQL object.
 |
 |      This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.
 |
 |  simpleString(self) -> str
 |
 |  toInternal(self, obj: Tuple) -> Tuple
 |      Converts a Python object into an internal SQL object.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromJson(json: Dict[str, Any]) -> 'StructType' from builtins.type
 |      Constructs :class:`StructType` from a schema defined in JSON format.
 |
 |      Below is a JSON schema it must adhere to::
 |
 |          {
 |            "title":"StructType",
 |            "description":"Schema of StructType in json format",
 |            "type":"object",
 |            "properties":{
 |               "fields":{
 |                  "description":"Array of struct fields",
 |                  "type":"array",
 |                  "items":{
 |                      "type":"object",
 |                      "properties":{
 |                         "name":{
 |                            "description":"Name of the field",
 |                            "type":"string"
 |                         },
 |                         "type":{
 |                            "description": "Type of the field. Can either be
 |                                            another nested StructType or primitive type",
 |                            "type":"object/string"
 |                         },
 |                         "nullable":{
 |                            "description":"If nulls are allowed",
 |                            "type":"boolean"
 |                         },
 |                         "metadata":{
 |                            "description":"Additional metadata to supply",
 |                            "type":"object"
 |                         },
 |                         "required":[
 |                            "name",
 |                            "type",
 |                            "nullable",
 |                            "metadata"
 |                         ]
 |                      }
 |                 }
 |              }
 |           }
 |         }
 |
 |      Parameters
 |      ----------
 |      json : dict or a dict-like object e.g. JSON object
 |          This "dict" must have "fields" key that returns an array of fields
 |          each of which must have specific keys (name, type, nullable, metadata).
 |
 |      Returns
 |      -------
 |      :class:`StructType`
 |
 |      Examples
 |      --------
 |      >>> json_str = '''
 |      ...  {
 |      ...      "fields": [
 |      ...          {
 |      ...              "metadata": {},
 |      ...              "name": "Person",
 |      ...              "nullable": true,
 |      ...              "type": {
 |      ...                  "fields": [
 |      ...                      {
 |      ...                          "metadata": {},
 |      ...                          "name": "name",
 |      ...                          "nullable": false,
 |      ...                          "type": "string"
 |      ...                      },
 |      ...                      {
 |      ...                          "metadata": {},
 |      ...                          "name": "surname",
 |      ...                          "nullable": false,
 |      ...                          "type": "string"
 |      ...                      }
 |      ...                  ],
 |      ...                  "type": "struct"
 |      ...              }
 |      ...          }
 |      ...      ],
 |      ...      "type": "struct"
 |      ...  }
 |      ...  '''
 |      >>> import json
 |      >>> scheme = StructType.fromJson(json.loads(json_str))
 |      >>> scheme.simpleString()
 |      'struct<Person:struct<name:string,surname:string>>'
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from DataType:
 |
 |  __eq__(self, other: Any) -> bool
 |      Return self==value.
 |
 |  __hash__(self) -> int
 |      Return hash(self).
 |
 |  __ne__(self, other: Any) -> bool
 |      Return self!=value.
 |
 |  json(self) -> str
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from DataType:
 |
 |  typeName() -> str from builtins.type
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from DataType:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [10]:
data = [(1, "manish"), (2, "ramesh")]

schema = StructType([StructField(name="id", dataType=IntegerType()),
           StructField(name="name", dataType=StringType())])

type(schema)

pyspark.sql.types.StructType

In [11]:
df = spark.createDataFrame(data=data, schema=schema)

In [12]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [13]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

In [14]:
data = [{'id':1, 'name':"mahesh"},
       {'id':2, 'name':"suresh"}]

df = spark.createDataFrame(data)
df.show()

+---+------+
| id|  name|
+---+------+
|  1|mahesh|
|  2|suresh|
+---+------+

# reading csv file

In [15]:
df = spark.read.csv(path="50_Startups.csv")

In [16]:
display(df) # display dataframe in databricks

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [17]:
df.show() # display dataframe in jupyter

+---------+--------------+---------------+----------+---------+
|      _c0|           _c1|            _c2|       _c3|      _c4|
+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [18]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [19]:
df = spark.read.csv(path="50_Startups.csv", header=True)
df.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|              0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [20]:
df.printSchema()

root
 |-- R&D Spend: string (nullable = true)
 |-- Administration: string (nullable = true)
 |-- Marketing Spend: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: string (nullable = true)

In [21]:
# adding datatype

from pyspark.sql.types import *

schema = StructType().add(field='R&D Spend', data_type=DecimalType())\
                    .add(field='Administration', data_type=DecimalType())\
                    .add(field='Marketing Spend', data_type=DecimalType())\
                    .add(field='State', data_type=StringType())\
                    .add(field='Profit', data_type=DecimalType()) 

df = spark.read.csv(path="50_Startups.csv", schema=schema, header=True)
df.show()

+---------+--------------+---------------+----------+------+
|R&D Spend|Administration|Marketing Spend|     State|Profit|
+---------+--------------+---------------+----------+------+
|   165349|        136898|         471784|  New York|192262|
|   162598|        151378|         443899|California|191792|
|   153442|        101146|         407935|   Florida|191050|
|   144372|        118672|         383200|  New York|182902|
|   142107|         91392|         366168|   Florida|166188|
|   131877|         99815|         362861|  New York|156991|
|   134615|        147199|         127717|California|156123|
|   130298|        145530|         323877|   Florida|155753|
|   120543|        148719|         311613|  New York|152212|
|   123335|        108679|         304982|California|149760|
|   101913|        110594|         229161|   Florida|146122|
|   100672|         91791|         249745|California|144259|
|    93864|        127320|         249839|   Florida|141586|
|    91992|        135495|         252665|California|134307|
|   119943|        156547|         256513|   Florida|132603|
|   114524|        122617|         261776|  New York|129917|
|    78013|        121598|         264346|California|126993|
|    94657|        145078|         282574|  New York|125370|
|    91749|        114176|         294920|   Florida|124267|
|    86420|        153514|              0|  New York|122777|
+---------+--------------+---------------+----------+------+
only showing top 20 rows

In [22]:
df.printSchema()

root
 |-- R&D Spend: decimal(10,0) (nullable = true)
 |-- Administration: decimal(10,0) (nullable = true)
 |-- Marketing Spend: decimal(10,0) (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: decimal(10,0) (nullable = true)

In [23]:
# automatic type detection
df = spark.read.csv(path="50_Startups.csv", header=True, inferSchema=True)
df.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|            0.0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [24]:
df.printSchema()

root
 |-- R&D Spend: double (nullable = true)
 |-- Administration: double (nullable = true)
 |-- Marketing Spend: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: double (nullable = true)

In [25]:
# another method
df = spark.read.format('csv').option(key='header', value=True).load(path="50_Startups.csv")
df.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|              0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [26]:
# reading multiple files: similar schema then only work
df = spark.read.csv(path=["50_Startups.csv"], header=True)
df.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|              0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [27]:
# reading all files of folder: similar schema then only work
df = spark.read.csv(path="files/*.csv", header=True)
df.show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

# write dataframe into csv file

In [28]:
data = [(1, "manish"), (2, "ramesh")]
schema = ['id', 'name']

df = spark.createDataFrame(data=data, schema=schema)

df.show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

In [31]:
df.write.csv(path="files", header=True) # method 1

In [32]:
df.write.csv(path="files", header=True, mode='ignore') # method 1 mode=ignore, error(deafult), append, overwrite

In [34]:
df.write.options(header=True, delimeter=',').csv('files2') # method 2

In [36]:
df.write.option("header", True).csv('files3') # method 3

In [37]:
spark.read.csv(path="files", header=True).show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

# reading json file

In [38]:
df = spark.read.json(path="sample1.json")
df.show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

In [39]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [40]:
from pyspark.sql.types import *

schema = StructType().add(field='id', data_type=IntegerType())\
                    .add(field='name', data_type=StringType())

df = spark.read.json(path="sample1.json", schema=schema)

df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
df = spark.read.json(path="sample2.json") # ERROR
df.show()

AnalysisException: Since Spark 2.3, the queries from raw JSON/CSV files are disallowed when the
referenced columns only include the internal corrupt record column
(named _corrupt_record by default). For example:
spark.read.schema(schema).csv(file).filter($"_corrupt_record".isNotNull).count()
and spark.read.schema(schema).csv(file).select("_corrupt_record").show().
Instead, you can cache or save the parsed results and then send the same query.
For example, val df = spark.read.schema(schema).csv(file).cache() and then
df.filter($"_corrupt_record".isNotNull).count().

In [41]:
df = spark.read.json(path="sample2.json", multiLine=True) 
df.show()

+---+-------+
| id|   name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  3|Charlie|
|  4|  David|
|  5|    Eve|
+---+-------+

In [42]:
# reading multiple files
df = spark.read.json(path=["sample1.json"])
df.show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

In [43]:
# reading all files in folder
df = spark.read.json(path="json_files/*.json")
df.show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

# write dataframe into json file

In [44]:
data = [(1, "manish"), (2, "ramesh")]
schema = ['id', 'name']

df = spark.createDataFrame(data=data, schema=schema)

df.show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

In [46]:
df.write.json(path="json_files")

In [47]:
df.write.json(path="json_files", mode='ignore') # error(default), append, overwrite

In [48]:
df = spark.read.json(path="json_files").show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

# reading parquet file

In [51]:
df = spark.read.parquet(path="parquet_sample.parquet")
df.show()

# ERROR will be generated

AnalysisException: [UNABLE_TO_INFER_SCHEMA] Unable to infer schema for Parquet. It must be specified manually.

# write dataframe into parquet file

In [50]:
data = [(1, "manish"), (2, "ramesh")]
schema = ['id', 'name']

df = spark.createDataFrame(data=data, schema=schema)

df.show()

+---+------+
| id|  name|
+---+------+
|  1|manish|
|  2|ramesh|
+---+------+

In [53]:
df.write.parquet(path="parquet_files")

In [ ]:
df = spark.read.parquet(path="parquet_files/*.parquet")
df.show()

# ERROR will be generated

# show()

In [54]:
data = [(1, "gvdchzsvdvduydgivfbsckhfcusdfdsdbcjhyjgfruyegrfbyr"),
       (2, "ueficvsxctwefcyuiwebfugyefgdsjcvdjgfjdvjsdgfjfghjs"),
       (3, "uijgdcuywgutsdzfcvytfcvtueyfwytugfvwejfhsgvxuky")]

schema = ["id", "comments"]

df = spark.createDataFrame(data, schema)
df.show()

+---+--------------------+
| id|            comments|
+---+--------------------+
|  1|gvdchzsvdvduydgiv...|
|  2|ueficvsxctwefcyui...|
|  3|uijgdcuywgutsdzfc...|
+---+--------------------+

In [55]:
df.show(truncate=False)

+---+--------------------------------------------------+
|id |comments                                          |
+---+--------------------------------------------------+
|1  |gvdchzsvdvduydgivfbsckhfcusdfdsdbcjhyjgfruyegrfbyr|
|2  |ueficvsxctwefcyuiwebfugyefgdsjcvdjgfjdvjsdgfjfghjs|
|3  |uijgdcuywgutsdzfcvytfcvtueyfwytugfvwejfhsgvxuky   |
+---+--------------------------------------------------+

In [56]:
df.show(truncate=5)

+---+--------+
| id|comments|
+---+--------+
|  1|   gv...|
|  2|   ue...|
|  3|   ui...|
+---+--------+

In [57]:
df.show(n=2, truncate=5)

+---+--------+
| id|comments|
+---+--------+
|  1|   gv...|
|  2|   ue...|
+---+--------+
only showing top 2 rows

In [58]:
df.show(n=2, truncate=False, vertical=True)

-RECORD 0------------------------------------------------------
 id       | 1
 comments | gvdchzsvdvduydgivfbsckhfcusdfdsdbcjhyjgfruyegrfbyr
-RECORD 1------------------------------------------------------
 id       | 2
 comments | ueficvsxctwefcyuiwebfugyefgdsjcvdjgfjdvjsdgfjfghjs
only showing top 2 rows

# withColumn()

PySpark `withColumn()` is a transformation function of DataFrame which is used to change the value, convert the datatype of an existing column, create a new column, and many more.

**Syntax:** `DataFrame.withColumn(colName, colExpr)`

- `colName`: The name of the new or existing column you want to work with.
- `colExpr`: An expression that defines the values for this column. It can be a literal value, an expression using existing columns, or a function applied to one or more columns.

In [59]:
data = [(1, "manish", 3000), (2, "ramesh", 2500)]
schema = ['id', 'name', "salary"]

df = spark.createDataFrame(data=data, schema=schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|manish|  3000|
|  2|ramesh|  2500|
+---+------+------+

In [60]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [61]:
help(df.withColumn)

Help on method withColumn in module pyspark.sql.dataframe:

withColumn(colName: str, col: pyspark.sql.column.Column) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by adding a column or replacing the
    existing column that has the same name.

    The column expression must be an expression over this :class:`DataFrame`; attempting to add
    a column from some other :class:`DataFrame` will raise an error.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with new or replaced column.

    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with multiple columns at once.

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.withColumn('age2', df.age + 2).show()
    +---+-----+----+
    |age| name|age2|
    +---+-----+----+
    |  2|Alice|   4|
    |  5|  Bob|   7|
    +---+-----+----+

In [62]:
from pyspark.sql.functions import col

df = df.withColumn(colName='salary', col=col('salary').cast('Integer')) # use1: change datatype
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [63]:
df = df.withColumn('salary', col('salary')*2)
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|manish|  6000|
|  2|ramesh|  5000|
+---+------+------+

In [64]:
from pyspark.sql.functions import lit

df = df.withColumn('country', lit('india')) # lit = literal
df.show()

+---+------+------+-------+
| id|  name|salary|country|
+---+------+------+-------+
|  1|manish|  6000|  india|
|  2|ramesh|  5000|  india|
+---+------+------+-------+

In [65]:
df = df.withColumn('copied salary', col('salary'))
df.show()

+---+------+------+-------+-------------+
| id|  name|salary|country|copied salary|
+---+------+------+-------+-------------+
|  1|manish|  6000|  india|         6000|
|  2|ramesh|  5000|  india|         5000|
+---+------+------+-------+-------------+

# withColumnRenamed()

PySpark `withColumnRenamed()` is a transformation function of DataFrame which is used to change existing column name in dataframe.

In [66]:
data = [(1, "manish", 3000), (2, "ramesh", 2500)]
schema = ['id', 'name', "salary"]

df = spark.createDataFrame(data=data, schema=schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|manish|  3000|
|  2|ramesh|  2500|
+---+------+------+

In [67]:
df = df.withColumnRenamed('salary', 'yearly salary')
df.show()

+---+------+-------------+
| id|  name|yearly salary|
+---+------+-------------+
|  1|manish|         3000|
|  2|ramesh|         2500|
+---+------+-------------+

# StructType() & StructField()

PySpark `StructType` & `StructField` classes are used to programmatically specify the schema to the DataFrame and create complex columns like nested struct, array, and map columns

In [68]:
data = [(1, "manish", 3000), (2, "ramesh", 2500)]
schema = ['id', 'name', "salary"]

df = spark.createDataFrame(data=data, schema=schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|manish|  3000|
|  2|ramesh|  2500|
+---+------+------+

In [69]:
from pyspark.sql.types import StructType, StructField, StructType, IntegerType

data = [(1, "manish", 3000), (2, "ramesh", 2500)]

schema = StructType([StructField(name='id', dataType=IntegerType()),
                    StructField(name='name', dataType=StringType()),
                    StructField(name='salary', dataType=IntegerType())])

df = spark.createDataFrame(data=data, schema=schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|manish|  3000|
|  2|ramesh|  2500|
+---+------+------+

In [70]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [71]:
from pyspark.sql.types import StructType, StructField, StructType, IntegerType

data = [(1, ("manish", "singh"), 3000), (2, ("ramesh", "malhotra"), 2500)]

sturctName = StructType([StructField(name='first name', dataType=StringType()),
                        StructField(name='last name', dataType=StringType())])

schema = StructType([StructField(name='id', dataType=IntegerType()),
                    StructField(name='name', dataType=sturctName),
                    StructField(name='salary', dataType=IntegerType())])

df = spark.createDataFrame(data=data, schema=schema)

df.show()

+---+------------------+------+
| id|              name|salary|
+---+------------------+------+
|  1|   {manish, singh}|  3000|
|  2|{ramesh, malhotra}|  2500|
+---+------------------+------+

In [72]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- first name: string (nullable = true)
 |    |-- last name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [73]:
display(df)

DataFrame[id: int, name: struct<first name:string,last name:string>, salary: int]

# ArrayType columns

In [74]:
data = [('abc', [1,2]), ('jkl', [3,4]), ('pqr', [5,6])]
schema = ['id', 'numbers']

df = spark.createDataFrame(data, schema)
df.show()

+---+-------+
| id|numbers|
+---+-------+
|abc| [1, 2]|
|jkl| [3, 4]|
|pqr| [5, 6]|
+---+-------+

In [75]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [76]:
data = [('abc', [1,2]), ('jkl', [3,4]), ('pqr', [5,6])]

schema = StructType([StructField(name='id', dataType=StringType()),
                    StructField(name='numbers', dataType=ArrayType(IntegerType()))])

df = spark.createDataFrame(data, schema)
df.show()

+---+-------+
| id|numbers|
+---+-------+
|abc| [1, 2]|
|jkl| [3, 4]|
|pqr| [5, 6]|
+---+-------+

In [77]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [78]:
# fetching array elements using index
df.withColumn('first no.', df.numbers[0]).show()

+---+-------+---------+
| id|numbers|first no.|
+---+-------+---------+
|abc| [1, 2]|        1|
|jkl| [3, 4]|        3|
|pqr| [5, 6]|        5|
+---+-------+---------+

In [79]:
data = [(1,2), (3,4)]
schema = ['num1', 'num2']

df = spark.createDataFrame(data, schema)
df.show()

+----+----+
|num1|num2|
+----+----+
|   1|   2|
|   3|   4|
+----+----+

In [80]:
from pyspark.sql.functions import col, array

df.withColumn('numbers', array(col('num1'), col('num2'))).show()

+----+----+-------+
|num1|num2|numbers|
+----+----+-------+
|   1|   2| [1, 2]|
|   3|   4| [3, 4]|
+----+----+-------+

# explode(), split(), array() & array_contains()

- Use `explode()` function to create a new row for each element in the given array column.

In [81]:
data = [(1, 'ramesh', ['Java', '.NET']), (2, 'rajesh', ['Python', 'R'])]
schema = ['id', 'name', 'skills']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------------+
| id|  name|      skills|
+---+------+------------+
|  1|ramesh|[Java, .NET]|
|  2|rajesh| [Python, R]|
+---+------+------------+

In [82]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [83]:
from pyspark.sql.functions import explode, col

df = df.withColumn('skill', explode(col('skills')))

df.show()

+---+------+------------+------+
| id|  name|      skills| skill|
+---+------+------------+------+
|  1|ramesh|[Java, .NET]|  Java|
|  1|ramesh|[Java, .NET]|  .NET|
|  2|rajesh| [Python, R]|Python|
|  2|rajesh| [Python, R]|     R|
+---+------+------------+------+

- `split()` sql function returns an array type after splitting the string column by delimiter.

In [84]:
data = [(1, 'ramesh', 'Java, Scala'), (2, 'rajesh', 'Python, R')]
schema = ['id', 'name', 'skills']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+-----------+
| id|  name|     skills|
+---+------+-----------+
|  1|ramesh|Java, Scala|
|  2|rajesh|  Python, R|
+---+------+-----------+

In [85]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: string (nullable = true)

In [86]:
from pyspark.sql.functions import split, col

df = df.withColumn('skills Array', split(col('skills'), ','))

df.show()

+---+------+-----------+--------------+
| id|  name|     skills|  skills Array|
+---+------+-----------+--------------+
|  1|ramesh|Java, Scala|[Java,  Scala]|
|  2|rajesh|  Python, R|  [Python,  R]|
+---+------+-----------+--------------+

- Use `array()` function to create a new array column by merging the data from multiple columns.

In [87]:
data = [(1, 'ramesh', 'Java', 'Scala'), (2, 'rajesh', 'Python', 'R')]
schema = ['id', 'name', 'primary skill', 'secondary skill']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+-------------+---------------+
| id|  name|primary skill|secondary skill|
+---+------+-------------+---------------+
|  1|ramesh|         Java|          Scala|
|  2|rajesh|       Python|              R|
+---+------+-------------+---------------+

In [88]:
from pyspark.sql.functions import array, col

df = df.withColumn('skills array', array(col('primary skill'), col('secondary skill')))

df.show()

+---+------+-------------+---------------+-------------+
| id|  name|primary skill|secondary skill| skills array|
+---+------+-------------+---------------+-------------+
|  1|ramesh|         Java|          Scala|[Java, Scala]|
|  2|rajesh|       Python|              R|  [Python, R]|
+---+------+-------------+---------------+-------------+

- `array_contains()` sql function is used to check if array column contains a value. Returns null if the array is null, true if the array contains the value, and false otherwise.

In [89]:
data = [(1, 'ramesh', ['Java', 'Scala']), (2, 'rajesh', ['Python', 'R'])]
schema = ['id', 'name', 'skills']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+-------------+
| id|  name|       skills|
+---+------+-------------+
|  1|ramesh|[Java, Scala]|
|  2|rajesh|  [Python, R]|
+---+------+-------------+

In [90]:
from pyspark.sql.functions import array_contains, col

df = df.withColumn('Has java skill?', array_contains(col('skills'), 'Java'))

df.show()

+---+------+-------------+---------------+
| id|  name|       skills|Has java skill?|
+---+------+-------------+---------------+
|  1|ramesh|[Java, Scala]|           true|
|  2|rajesh|  [Python, R]|          false|
+---+------+-------------+---------------+

# MapType columns

PySpark `MapType` is used to represent map key-value pair similar to python Dictionarv (Dict)

In [91]:
data = [('ramesh', {'hair': 'golden', 'eye': 'black'}), ('rajesh', {'hair': 'black', 'eye': 'blue'})]
schema = ['name', 'properties']

df = spark.createDataFrame(data, schema)

df.show()

+------+--------------------+
|  name|          properties|
+------+--------------------+
|ramesh|{eye -> black, ha...|
|rajesh|{eye -> blue, hai...|
+------+--------------------+

In [92]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [93]:
from pyspark.sql.types import StructType, StructField, StringType, MapType

data = [('ramesh', {'hair': 'golden', 'eye': 'black'}), ('rajesh', {'hair': 'black', 'eye': 'blue'})]

schema = StructType([StructField(name='name', dataType=StringType()),
                    StructField(name='properties', dataType=MapType(StringType(), StringType()))])

df = spark.createDataFrame(data, schema)

df.show(truncate=False)

+------+------------------------------+
|name  |properties                    |
+------+------------------------------+
|ramesh|{eye -> black, hair -> golden}|
|rajesh|{eye -> blue, hair -> black}  |
+------+------------------------------+

In [94]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [95]:
df = df.withColumn('hair', df.properties['hair'])

df.show(truncate=False)

+------+------------------------------+------+
|name  |properties                    |hair  |
+------+------------------------------+------+
|ramesh|{eye -> black, hair -> golden}|golden|
|rajesh|{eye -> blue, hair -> black}  |black |
+------+------------------------------+------+

In [96]:
# another way method

df = df.withColumn('eye', df.properties.getItem('eye'))

df.show(truncate=False)

+------+------------------------------+------+-----+
|name  |properties                    |hair  |eye  |
+------+------------------------------+------+-----+
|ramesh|{eye -> black, hair -> golden}|golden|black|
|rajesh|{eye -> blue, hair -> black}  |black |blue |
+------+------------------------------+------+-----+

# map_keys(), map_values() & explode() functions to work with MapType

In [97]:
from pyspark.sql.types import StructType, StructField, StringType, MapType

data = [('ramesh', {'hair': 'golden', 'eye': 'black'}), ('rajesh', {'hair': 'black', 'eye': 'blue'})]

schema = StructType([StructField(name='name', dataType=StringType()),
                    StructField(name='properties', dataType=MapType(StringType(), StringType()))])

df = spark.createDataFrame(data, schema)

df.show(truncate=False)

+------+------------------------------+
|name  |properties                    |
+------+------------------------------+
|ramesh|{eye -> black, hair -> golden}|
|rajesh|{eye -> blue, hair -> black}  |
+------+------------------------------+

In [98]:
from pyspark.sql.functions import explode

df = df.select('name', 'properties', explode(df.properties))

df.show(truncate=False)

+------+------------------------------+----+------+
|name  |properties                    |key |value |
+------+------------------------------+----+------+
|ramesh|{eye -> black, hair -> golden}|eye |black |
|ramesh|{eye -> black, hair -> golden}|hair|golden|
|rajesh|{eye -> blue, hair -> black}  |eye |blue  |
|rajesh|{eye -> blue, hair -> black}  |hair|black |
+------+------------------------------+----+------+

In [99]:
from pyspark.sql.functions import map_keys

df = df.withColumn('keys', map_keys(df.properties))

df.show()

+------+--------------------+----+------+-----------+
|  name|          properties| key| value|       keys|
+------+--------------------+----+------+-----------+
|ramesh|{eye -> black, ha...| eye| black|[eye, hair]|
|ramesh|{eye -> black, ha...|hair|golden|[eye, hair]|
|rajesh|{eye -> blue, hai...| eye|  blue|[eye, hair]|
|rajesh|{eye -> blue, hai...|hair| black|[eye, hair]|
+------+--------------------+----+------+-----------+

In [100]:
from pyspark.sql.functions import map_values

df = df.withColumn('valuess', map_values(df.properties))

df.show()

+------+--------------------+----+------+-----------+---------------+
|  name|          properties| key| value|       keys|        valuess|
+------+--------------------+----+------+-----------+---------------+
|ramesh|{eye -> black, ha...| eye| black|[eye, hair]|[black, golden]|
|ramesh|{eye -> black, ha...|hair|golden|[eye, hair]|[black, golden]|
|rajesh|{eye -> blue, hai...| eye|  blue|[eye, hair]|  [blue, black]|
|rajesh|{eye -> blue, hai...|hair| black|[eye, hair]|  [blue, black]|
+------+--------------------+----+------+-----------+---------------+

# Row() class

- `pyspark.sql.Row` which is represented as a record/row in DataFrame, one can create a Row object by using named arguments or create a custom Row like class.

In [101]:
from pyspark.sql import Row

row = Row('ramesh', 2000)

print(row[0] + ' ' + str(row[1]))

ramesh 2000

In [102]:
from pyspark.sql import Row

row2 = Row(name='ramesh', salary=2000)

print(row2[0] + ' ' + str(row2[1]))

ramesh 2000

In [103]:
from pyspark.sql import Row

row2 = Row(name='ramesh', salary=2000)

print(row2.name + ' ' + str(row2.salary))

ramesh 2000

In [104]:
row2 = Row(name='ramesh', salary=2000)
row1 = Row(name='rajesh', salary=3500)

data = [row1, row2]
df = spark.createDataFrame(data)

df.show()

+------+------+
|  name|salary|
+------+------+
|rajesh|  3500|
|ramesh|  2000|
+------+------+

In [105]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [106]:
# we can also create a Row like class:

Person = Row('name', 'age')

persn1 = Person('ramesh', 22)
persn2 = Person('rajesh', 25)

print(persn1.age, persn1.name)

22 ramesh

In [107]:
df = spark.createDataFrame([persn1, persn2])

df.show()

+------+---+
|  name|age|
+------+---+
|ramesh| 22|
|rajesh| 25|
+------+---+

In [108]:
# we can create nested struct type also using Row:

data= [Row(name="rajesh", prop=Row(hair="black", eye="blue")),
       Row (name="ramesh", prop=Row(hair="grey", eye="black"))]
       
df = spark.createDataFrame(data)

df.show()

+------+-------------+
|  name|         prop|
+------+-------------+
|rajesh|{black, blue}|
|ramesh|{grey, black}|
+------+-------------+

In [109]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

# Column class

- PySpark Column class represents a single Column in a DataFrame.
- `pyspark.sql.Column` class provides several functions to work with DataFrame to manipulate the Column values, evaluate the boolean expression to filter rows, retrieve a value or part of a value from a DataFrame column
- One of the simplest ways to create a Column class object is by using PySpark `lit()` SQL function.

In [110]:
from pyspark.sql.functions import lit

col1 = lit("vdcjh")

print(type(col1))

<class 'pyspark.sql.column.Column'>

In [111]:
data = [('ramesh', 'male', 2000), ('rajesh', 'male', 3000)]
schema = ['name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+------+------+------+
|  name|gender|salary|
+------+------+------+
|ramesh|  male|  2000|
|rajesh|  male|  3000|
+------+------+------+

In [112]:
df. printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [113]:
df = df.withColumn('new column', lit('dummy'))

df.show()

+------+------+------+----------+
|  name|gender|salary|new column|
+------+------+------+----------+
|ramesh|  male|  2000|     dummy|
|rajesh|  male|  3000|     dummy|
+------+------+------+----------+

In [114]:
# we can access column in multiple ways

df.select(df.name).show()

+------+
|  name|
+------+
|ramesh|
|rajesh|
+------+

In [115]:
df.select(df['name']).show()

+------+
|  name|
+------+
|ramesh|
|rajesh|
+------+

In [116]:
from pyspark.sql.functions import col

df.select(col('name')).show()

+------+
|  name|
+------+
|ramesh|
|rajesh|
+------+

In [117]:
from pyspark.sql.types import StringType, StructField, StructType, IntegerType

data = [('ramesh', 'male', 2000, ('black', 'blue')), ('rajesh', 'male', 3000, ('black', 'brown'))]

propsType = StructType([StructField(name='hair', dataType=StringType()),
                       StructField(name='eye', dataType=StringType())])

schema = StructType([StructField(name='name', dataType=StringType()),
                    StructField(name='gender', dataType=StringType()),
                    StructField(name='salary', dataType=IntegerType()),
                    StructField(name='props', dataType=propsType)])

df = spark.createDataFrame(data, schema)

df.show()

+------+------+------+--------------+
|  name|gender|salary|         props|
+------+------+------+--------------+
|ramesh|  male|  2000| {black, blue}|
|rajesh|  male|  3000|{black, brown}|
+------+------+------+--------------+

In [118]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- props: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

In [119]:
df.select(df.props.eye).show()

+---------+
|props.eye|
+---------+
|     blue|
|    brown|
+---------+

In [120]:
df.select(df['props.eye']).show()

+-----+
|  eye|
+-----+
| blue|
|brown|
+-----+

In [121]:
df.select(col('props.eye')).show()

+-----+
|  eye|
+-----+
| blue|
|brown|
+-----+

# when() & otherwise()

It is similar to SQL Case When, executes sequence of expressions until it matches the condition and returns a value when match.

In [122]:
data = [(1, 'rajesh', 'M', 2000), (2, 'ritika', 'F', 3000), (3, 'rakesh', '', 2000)]
schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|rajesh|     M|  2000|
|  2|ritika|     F|  3000|
|  3|rakesh|      |  2000|
+---+------+------+------+

In [123]:
from pyspark.sql.functions import when

df = df.select(df.id, df.name, when(condition=df.gender=='M', value='male')\
              .when(condition=df.gender=='F', value='female')\
              .otherwise(value='unknown'))

df.show()

+---+------+-------------------------------------------------------------------------------+
| id|  name|CASE WHEN (gender = M) THEN male WHEN (gender = F) THEN female ELSE unknown END|
+---+------+-------------------------------------------------------------------------------+
|  1|rajesh|                                                                           male|
|  2|ritika|                                                                         female|
|  3|rakesh|                                                                        unknown|
+---+------+-------------------------------------------------------------------------------+

In [124]:
# same dataframe
data = [(1, 'rajesh', 'M', 2000), (2, 'ritika', 'F', 3000), (3, 'rakesh', '', 2000)]
schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|rajesh|     M|  2000|
|  2|ritika|     F|  3000|
|  3|rakesh|      |  2000|
+---+------+------+------+

In [125]:
from pyspark.sql.functions import when

df = df.select(df.id, df.name, when(condition=df.gender=='M', value='male')\
              .when(condition=df.gender=='F', value='female')\
              .otherwise(value='unknown')\
              .alias('gender'))

df.show()

+---+------+-------+
| id|  name| gender|
+---+------+-------+
|  1|rajesh|   male|
|  2|ritika| female|
|  3|rakesh|unknown|
+---+------+-------+

# alias(), asc(), desc(), cast() & like() functions on Columns 

- `alias()` provides alias to column
- `asc()` and `desc()` sort columns in ascending and descending order
- `cast()` convert datatype
- `like()` similar to SQL LIKE expression

In [126]:
data = [(1, 'rajesh', 2000), (2, 'ritika', 3000), (3, 'rakesh', 2000)]
schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|rajesh|  2000|
|  2|ritika|  3000|
|  3|rakesh|  2000|
+---+------+------+

In [127]:
df.select(df.id, df.name, df.salary).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|rajesh|  2000|
|  2|ritika|  3000|
|  3|rakesh|  2000|
+---+------+------+

In [128]:
# alias()
df.select(df.id.alias('employee id'), df.name.alias('employee name'), df.salary.alias('employee salary')).show()

+-----------+-------------+---------------+
|employee id|employee name|employee salary|
+-----------+-------------+---------------+
|          1|       rajesh|           2000|
|          2|       ritika|           3000|
|          3|       rakesh|           2000|
+-----------+-------------+---------------+

In [129]:
# asc()
df.sort(df.name.asc()).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|rajesh|  2000|
|  3|rakesh|  2000|
|  2|ritika|  3000|
+---+------+------+

In [130]:
# desc()
df.sort(df.name.desc()).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  2|ritika|  3000|
|  3|rakesh|  2000|
|  1|rajesh|  2000|
+---+------+------+

In [131]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [132]:
# cast()
df = df.select(df.id, df.name, df.salary.cast('int'))

df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [133]:
# like()
df.filter(df.name.like('r%')).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|rajesh|  2000|
|  2|ritika|  3000|
|  3|rakesh|  2000|
+---+------+------+

In [134]:
# like()
df.filter(df.name.like('%esh')).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|rajesh|  2000|
|  3|rakesh|  2000|
+---+------+------+

# filter() & where()

- PySpark `filter()` function is used to filter the rows from DataFrame based on the given condition or SQL expression.
- You can also use where() clause instead of the filter) if you are coming from an SQL background, both these functions operate exactly the same.

In [135]:
data = [(1, 'ramesh', 'male', 2000), (2, 'suresh', 'male', 3000), (3, 'surbhi', 'female', 4000)]

schema = ['id', 'name', 'gender', 'income']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+
| id|  name|gender|income|
+---+------+------+------+
|  1|ramesh|  male|  2000|
|  2|suresh|  male|  3000|
|  3|surbhi|female|  4000|
+---+------+------+------+

In [136]:
df.filter(df.gender == 'male').show()

+---+------+------+------+
| id|  name|gender|income|
+---+------+------+------+
|  1|ramesh|  male|  2000|
|  2|suresh|  male|  3000|
+---+------+------+------+

In [137]:
df.filter("gender == 'male'").show()

+---+------+------+------+
| id|  name|gender|income|
+---+------+------+------+
|  1|ramesh|  male|  2000|
|  2|suresh|  male|  3000|
+---+------+------+------+

In [138]:
df.where("gender == 'male'").show()

+---+------+------+------+
| id|  name|gender|income|
+---+------+------+------+
|  1|ramesh|  male|  2000|
|  2|suresh|  male|  3000|
+---+------+------+------+

In [139]:
df.where((df.gender == 'male') & (df.income > 2500)).show() # multiple conditions

+---+------+------+------+
| id|  name|gender|income|
+---+------+------+------+
|  2|suresh|  male|  3000|
+---+------+------+------+

# distinct() & dropDuplicates()

- PySpark `distinct()` function is used to remove the duplicate rows (all columns)
- `dropDuplicates()` is used to drop rows based on selected (one or multiple)
- So basically, using these functions we can get distinct rows

In [52]:
data = [(1, 'ramesh', 'male', 2000), (2, 'suresh', 'male', 3000), (2, 'suresh', 'male', 3000), (3, 'surbhi', 'female', 4000)]

schema = ['id', 'name', 'gender', 'income']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+
| id|  name|gender|income|
+---+------+------+------+
|  1|ramesh|  male|  2000|
|  2|suresh|  male|  3000|
|  2|suresh|  male|  3000|
|  3|surbhi|female|  4000|
+---+------+------+------+

In [53]:
df.distinct().show()

+---+------+------+------+
| id|  name|gender|income|
+---+------+------+------+
|  1|ramesh|  male|  2000|
|  2|suresh|  male|  3000|
|  3|surbhi|female|  4000|
+---+------+------+------+

In [54]:
df.dropDuplicates().show()

+---+------+------+------+
| id|  name|gender|income|
+---+------+------+------+
|  1|ramesh|  male|  2000|
|  2|suresh|  male|  3000|
|  3|surbhi|female|  4000|
+---+------+------+------+

In [55]:
df.dropDuplicates(['gender']).show()

+---+------+------+------+
| id|  name|gender|income|
+---+------+------+------+
|  3|surbhi|female|  4000|
|  1|ramesh|  male|  2000|
+---+------+------+------+

# orderBy() & sort()

- You can use either `sort()` or `orderBy()` function of PySpark DataFrame to sort DataFrame by ascending or descending order based on single or multiple columns.
- By default, sorting will happen in ascending order. We can explicitly mention ascending or descending using asc(), desc() functions.

In [56]:
data = [(1, 'ramesh', 'male', 2000, 'HR'), 
        (2, 'suresh', 'male', 3000, 'IT'), 
        (3, 'sukesh', 'male', 3500, 'sales'), 
        (4, 'surbhi', 'female', 4000, 'HR')]

schema = ['id', 'name', 'gender', 'salary', 'department']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
|  4|surbhi|female|  4000|        HR|
+---+------+------+------+----------+

In [57]:
df.sort('department').show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|        HR|
|  4|surbhi|female|  4000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
+---+------+------+------+----------+

In [58]:
df.sort(df.department).show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  4|surbhi|female|  4000|        HR|
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
+---+------+------+------+----------+

In [59]:
df.sort(df.department, df.id).show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|        HR|
|  4|surbhi|female|  4000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
+---+------+------+------+----------+

In [60]:
df.sort(df.department, df.id.desc()).show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  4|surbhi|female|  4000|        HR|
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
+---+------+------+------+----------+

In [61]:
df.orderBy(df.department).show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  4|surbhi|female|  4000|        HR|
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
+---+------+------+------+----------+

In [62]:
df.orderBy(df.department, df.id.desc()).show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  4|surbhi|female|  4000|        HR|
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
+---+------+------+------+----------+

# union() & unionAll()

- `union()` and `unionAll()` transformations are used to merge two or more DataFrame's of the same schema or structure.
- `union()` & `unionAll()` method merges two DataFrames and returns the new DataFrame with all rows from two Dataframes regardless of duplicate data.
- To remove duplicates use `distinct()` function

In [63]:
data1 = [(1, 'ramesh', 'male', 2000, 'HR'), 
        (2, 'suresh', 'male', 3000, 'IT')]

schema1 = ['id', 'name', 'gender', 'salary', 'department']

df1 = spark.createDataFrame(data1, schema1)

df1.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
+---+------+------+------+----------+

In [64]:
data2 = [ (3, 'sukesh', 'male', 3500, 'sales'), 
        (4, 'surbhi', 'female', 4000, 'HR')]

schema2 = ['id', 'name', 'gender', 'salary', 'department']

df2 = spark.createDataFrame(data2, schema2)

df2.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  3|sukesh|  male|  3500|     sales|
|  4|surbhi|female|  4000|        HR|
+---+------+------+------+----------+

In [65]:
newDf = df1.union(df2)

newDf.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
|  4|surbhi|female|  4000|        HR|
+---+------+------+------+----------+

In [66]:
data1 = [(1, 'ramesh', 'male', 2000, 'HR'), 
        (2, 'suresh', 'male', 3000, 'IT'),
        (2, 'suresh', 'male', 3000, 'IT')]
data2 = [ (3, 'sukesh', 'male', 3500, 'sales'), 
        (4, 'surbhi', 'female', 4000, 'HR')]

schema1 = ['id', 'name', 'gender', 'salary', 'department']

schema2 = ['id', 'name', 'gender', 'salary', 'department']

df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)

In [67]:
newDf = df1.union(df2)

newDf.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
|  4|surbhi|female|  4000|        HR|
+---+------+------+------+----------+

In [68]:
newDf = df1.unionAll(df2)

newDf.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
|  4|surbhi|female|  4000|        HR|
+---+------+------+------+----------+

In [69]:
newDf.distinct().show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
|  4|surbhi|female|  4000|        HR|
+---+------+------+------+----------+

# groupBy() 

- Similar to SQL GROUP BY clause, PySpark `groupBy()` function is used to collect the identical data into groups on DataFrame and perform count, sum, avg, min, max functions on the grouped data

In [70]:
data = [(1, 'ramesh', 'male', 2000, 'HR'), 
        (2, 'suresh', 'male', 3000, 'IT'), 
        (3, 'sukesh', 'male', 3500, 'sales'), 
        (5, 'mukesh', 'male', 3300, 'IT'), 
        (4, 'surbhi', 'female', 4000, 'HR')]

schema = ['id', 'name', 'gender', 'salary', 'department']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|        HR|
|  2|suresh|  male|  3000|        IT|
|  3|sukesh|  male|  3500|     sales|
|  5|mukesh|  male|  3300|        IT|
|  4|surbhi|female|  4000|        HR|
+---+------+------+------+----------+

In [71]:
df1 = df.groupBy('department').count()
df1.show()

+----------+-----+
|department|count|
+----------+-----+
|        HR|    2|
|        IT|    2|
|     sales|    1|
+----------+-----+

In [72]:
df1 = df.groupBy(df.department).min('salary')
df1.show()

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|        HR|       2000|
|        IT|       3000|
|     sales|       3500|
+----------+-----------+

In [73]:
df1 = df.groupBy(df.department, df.gender).count() # multiple columns
df1.show()

+----------+------+-----+
|department|gender|count|
+----------+------+-----+
|        HR|  male|    1|
|        IT|  male|    2|
|     sales|  male|    1|
|        HR|female|    1|
+----------+------+-----+

# groupBy().agg()

- PySpark Groupby `agg()` is used to calculate more than one aggregate (multiple aggregates) at a time on grouped DataFrame.

In [74]:
from pyspark.sql.functions import count, min, max

df.groupBy('department').agg(count('*').alias('count of employee')).show()

+----------+-----------------+
|department|count of employee|
+----------+-----------------+
|        HR|                2|
|        IT|                2|
|     sales|                1|
+----------+-----------------+

In [75]:
df.groupBy('department').agg(count('*').alias('count of employee'),
                            min('salary').alias('Min. salary'),
                            max('salary').alias('Max. salary')).show()

+----------+-----------------+-----------+-----------+
|department|count of employee|Min. salary|Max. salary|
+----------+-----------------+-----------+-----------+
|        HR|                2|       2000|       4000|
|        IT|                2|       3000|       3300|
|     sales|                1|       3500|       3500|
+----------+-----------------+-----------+-----------+

# unionByName()

- `unionByName()` lets you to merge/union two DataFrames with a different number of columns (different schema) by passing `allowMissingColumns` with the value true

In [76]:
data1 = [(1, 'ramesh', 23)]
schema1 = ['id', 'name', 'age']

data2 = [(1, 'ramesh', 3500)]
schema2 = ['id', 'name', 'salary']

df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)

In [77]:
df1.show()
df2.show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1|ramesh| 23|
+---+------+---+

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|ramesh|  3500|
+---+------+------+

In [78]:
df1.union(df2).show()

+---+------+----+
| id|  name| age|
+---+------+----+
|  1|ramesh|  23|
|  1|ramesh|3500|
+---+------+----+

In [79]:
df1.unionByName(df2).show() # ERROR

AnalysisException: Cannot resolve column name "age" among (id, name, salary).

In [80]:
df1.unionByName(df2, allowMissingColumns=True).show()

+---+------+----+------+
| id|  name| age|salary|
+---+------+----+------+
|  1|ramesh|  23|  NULL|
|  1|ramesh|NULL|  3500|
+---+------+----+------+

# select()

- `select()` function is used to select single, multiple, column by index, all columns from the list and the nested columns from a DataFrame

In [81]:
data = [(1, 'ramesh','male', 3500)]
schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|ramesh|  male|  3500|
+---+------+------+------+

In [82]:
df.select('id', 'name').show()

+---+------+
| id|  name|
+---+------+
|  1|ramesh|
+---+------+

In [83]:
df.select(df.id, df.name).show()

+---+------+
| id|  name|
+---+------+
|  1|ramesh|
+---+------+

In [84]:
df.select(df['id'], df['name']).show()

+---+------+
| id|  name|
+---+------+
|  1|ramesh|
+---+------+

In [85]:
from pyspark.sql.functions import col
df.select(col('id'), col('name')).show()

+---+------+
| id|  name|
+---+------+
|  1|ramesh|
+---+------+

In [86]:
df.select(['id', 'name']).show()

+---+------+
| id|  name|
+---+------+
|  1|ramesh|
+---+------+

In [87]:
df.select('*').show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|ramesh|  male|  3500|
+---+------+------+------+

In [88]:
df.select([col for col in df.columns]).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|ramesh|  male|  3500|
+---+------+------+------+

# join()

- `join()` is like SQL JOIN. We can combine columns from different DataFrames based on condition. It supports all basic join types such as INNER, LEFT OUTER, RIGHT OUTER, LEFT ANTI, LEFT SEMI, CROSS, SELF

In [89]:
data1 = [(1, 'ramesh', 'male', 2000, 2), 
        (2, 'suresh', 'male', 3000, 1), 
        (3, 'sukesh', 'male', 3500, 3), 
        (5, 'mukesh', 'male', 3300, 1), 
        (4, 'surbhi', 'female', 4000, 4)]

schema1 = ['id', 'name', 'gender', 'salary', 'department']

data2 = [(1, 'IT'), (2, 'HR'), (3, 'sales')]
schema2 = ['dept id', 'dept name']

df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)

In [90]:
df1.show()
df2.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|ramesh|  male|  2000|         2|
|  2|suresh|  male|  3000|         1|
|  3|sukesh|  male|  3500|         3|
|  5|mukesh|  male|  3300|         1|
|  4|surbhi|female|  4000|         4|
+---+------+------+------+----------+

+-------+---------+
|dept id|dept name|
+-------+---------+
|      1|       IT|
|      2|       HR|
|      3|    sales|
+-------+---------+

In [91]:
df1.join(df2, df1.department == df2['dept id'], 'inner').show()

+---+------+------+------+----------+-------+---------+
| id|  name|gender|salary|department|dept id|dept name|
+---+------+------+------+----------+-------+---------+
|  2|suresh|  male|  3000|         1|      1|       IT|
|  5|mukesh|  male|  3300|         1|      1|       IT|
|  1|ramesh|  male|  2000|         2|      2|       HR|
|  3|sukesh|  male|  3500|         3|      3|    sales|
+---+------+------+------+----------+-------+---------+

In [92]:
df1.join(df2, df1.department == df2['dept id'], 'left').show()

+---+------+------+------+----------+-------+---------+
| id|  name|gender|salary|department|dept id|dept name|
+---+------+------+------+----------+-------+---------+
|  1|ramesh|  male|  2000|         2|      2|       HR|
|  2|suresh|  male|  3000|         1|      1|       IT|
|  3|sukesh|  male|  3500|         3|      3|    sales|
|  5|mukesh|  male|  3300|         1|      1|       IT|
|  4|surbhi|female|  4000|         4|   NULL|     NULL|
+---+------+------+------+----------+-------+---------+

In [93]:
df1.join(df2, df1.department == df2['dept id'], 'full').show()

+---+------+------+------+----------+-------+---------+
| id|  name|gender|salary|department|dept id|dept name|
+---+------+------+------+----------+-------+---------+
|  2|suresh|  male|  3000|         1|      1|       IT|
|  5|mukesh|  male|  3300|         1|      1|       IT|
|  1|ramesh|  male|  2000|         2|      2|       HR|
|  3|sukesh|  male|  3500|         3|      3|    sales|
|  4|surbhi|female|  4000|         4|   NULL|     NULL|
+---+------+------+------+----------+-------+---------+

- leftsemi join similar to inner join but get columns only from left dataframe for matching rows.
- leftanti opposite to leftsemi, it gets not matching rows from left dataframe.
- Self join, joins data with same dataframe

In [94]:
df1.join(df2, df1.department == df2['dept id'], 'leftsemi').show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  2|suresh|  male|  3000|         1|
|  5|mukesh|  male|  3300|         1|
|  1|ramesh|  male|  2000|         2|
|  3|sukesh|  male|  3500|         3|
+---+------+------+------+----------+

In [95]:
df1.join(df2, df1.department == df2['dept id'], 'leftanti').show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  4|surbhi|female|  4000|         4|
+---+------+------+------+----------+

In [96]:
data = [(1, 'ramesh', 0), (2, 'suresh', 1), (3, 'surbhi', 2)]
schema = ['id', 'name', 'manager_id']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+----------+
| id|  name|manager_id|
+---+------+----------+
|  1|ramesh|         0|
|  2|suresh|         1|
|  3|surbhi|         2|
+---+------+----------+

In [97]:
from pyspark.sql.functions import col
df.alias('empData').join(df.alias('mngrData'), col('empData.id') == col('mngrData.manager_id'), 'inner').show()

+---+------+----------+---+------+----------+
| id|  name|manager_id| id|  name|manager_id|
+---+------+----------+---+------+----------+
|  1|ramesh|         0|  2|suresh|         1|
|  2|suresh|         1|  3|surbhi|         2|
+---+------+----------+---+------+----------+

In [98]:
df.alias('empData').join(df.alias('mngrData'), col('mngrData.manager_id') == col('empData.id'), 'inner').show()

+---+------+----------+---+------+----------+
| id|  name|manager_id| id|  name|manager_id|
+---+------+----------+---+------+----------+
|  1|ramesh|         0|  2|suresh|         1|
|  2|suresh|         1|  3|surbhi|         2|
+---+------+----------+---+------+----------+

In [99]:
df.alias('empData').join(df.alias('mngrData'), col('empData.id') == col('mngrData.manager_id'), 'left').show()

+---+------+----------+----+------+----------+
| id|  name|manager_id|  id|  name|manager_id|
+---+------+----------+----+------+----------+
|  1|ramesh|         0|   2|suresh|         1|
|  2|suresh|         1|   3|surbhi|         2|
|  3|surbhi|         2|NULL|  NULL|      NULL|
+---+------+----------+----+------+----------+

In [100]:
df.alias('empData').join(df.alias('mngrData'), col('empData.id') == col('mngrData.manager_id'), 'left')\
.select(col('empData.name').alias('emp name'), col('mngrData.name').alias('manager name')).show()

+--------+------------+
|emp name|manager name|
+--------+------------+
|  ramesh|      suresh|
|  suresh|      surbhi|
|  surbhi|        NULL|
+--------+------------+

# pivot()

- It's used to rotate data in one column into multiple columns.
- It is an aggregation where one of the grouping column values will be converted in individual columns.

In [106]:
data = [(1, 'maheer', 'male', 'IT'),
        (2, 'wafa', 'male','IT'),
        (3, 'asi', 'female', 'HR'),
        (4, 'annu', 'female', 'IT'),
        (5, 'shakti', 'female', 'IT'),
        (6, 'pradeep', 'male' , 'HR'), 
        (7, 'sarfaraj', 'male', 'HR'),
        (8, 'ayesha', 'female' , 'IT')]

schema = ['id', 'name', 'gender', 'dep']

df = spark.createDataFrame(data, schema)

df.show()

+---+--------+------+---+
| id|    name|gender|dep|
+---+--------+------+---+
|  1|  maheer|  male| IT|
|  2|    wafa|  male| IT|
|  3|     asi|female| HR|
|  4|    annu|female| IT|
|  5|  shakti|female| IT|
|  6| pradeep|  male| HR|
|  7|sarfaraj|  male| HR|
|  8|  ayesha|female| IT|
+---+--------+------+---+

In [107]:
df.groupBy('dep', 'gender').count().show()

+---+------+-----+
|dep|gender|count|
+---+------+-----+
| IT|  male|    2|
| HR|female|    1|
| IT|female|    3|
| HR|  male|    2|
+---+------+-----+

In [108]:
df.groupBy('dep').pivot('gender').count().show()

+---+------+----+
|dep|female|male|
+---+------+----+
| HR|     1|   2|
| IT|     3|   2|
+---+------+----+

In [109]:
df.groupBy('dep').pivot('gender', ['male']).count().show()

+---+----+
|dep|male|
+---+----+
| HR|   2|
| IT|   2|
+---+----+

In [110]:
df.groupBy('dep').pivot('gender', ['male', 'female']).count().show()

+---+----+------+
|dep|male|female|
+---+----+------+
| HR|   2|     1|
| IT|   2|     3|
+---+----+------+

# unpivot

- Unpivot is rotating columns into rows. PySpark SQL doesn't have unpivot function hence will use the `stack()` function.

In [111]:
data = [('IT', 8, 5),
        ('Payroll', 3, 2), 
        ('HR', 2, 4)]

schema = ['dep', 'male', 'female']

df = spark.createDataFrame(data, schema)

df.show()

+-------+----+------+
|    dep|male|female|
+-------+----+------+
|     IT|   8|     5|
|Payroll|   3|     2|
|     HR|   2|     4|
+-------+----+------+

In [112]:
from pyspark.sql.functions import expr

unpivotDf = df.select('dep', expr("stack(2, 'M', male, 'F', female) as (gender, count)"))
unpivotDf.show()

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|     M|    8|
|     IT|     F|    5|
|Payroll|     M|    3|
|Payroll|     F|    2|
|     HR|     M|    2|
|     HR|     F|    4|
+-------+------+-----+

# fill() & fillna()

In [113]:
data = [(1, 'Maheer', 'male', 1000, None),
        (2, 'Asi', 'Female' , 2000, 'IT'),
        (3, 'abcd' , None, 1000, 'HR' )]

schema = ['id', 'name', 'gender', 'salary', 'dep']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+----+
| id|  name|gender|salary| dep|
+---+------+------+------+----+
|  1|Maheer|  male|  1000|NULL|
|  2|   Asi|Female|  2000|  IT|
|  3|  abcd|  NULL|  1000|  HR|
+---+------+------+------+----+

In [114]:
df.fillna('unknown').show()

+---+------+-------+------+-------+
| id|  name| gender|salary|    dep|
+---+------+-------+------+-------+
|  1|Maheer|   male|  1000|unknown|
|  2|   Asi| Female|  2000|     IT|
|  3|  abcd|unknown|  1000|     HR|
+---+------+-------+------+-------+

In [115]:
df.fillna('unknown', ['gender']).show()

+---+------+-------+------+----+
| id|  name| gender|salary| dep|
+---+------+-------+------+----+
|  1|Maheer|   male|  1000|NULL|
|  2|   Asi| Female|  2000|  IT|
|  3|  abcd|unknown|  1000|  HR|
+---+------+-------+------+----+

In [116]:
df.fillna('unknown', ['gender', 'dep']).show()

+---+------+-------+------+-------+
| id|  name| gender|salary|    dep|
+---+------+-------+------+-------+
|  1|Maheer|   male|  1000|unknown|
|  2|   Asi| Female|  2000|     IT|
|  3|  abcd|unknown|  1000|     HR|
+---+------+-------+------+-------+

In [117]:
df.na.fill('unknown', ['gender']).show()

+---+------+-------+------+----+
| id|  name| gender|salary| dep|
+---+------+-------+------+----+
|  1|Maheer|   male|  1000|NULL|
|  2|   Asi| Female|  2000|  IT|
|  3|  abcd|unknown|  1000|  HR|
+---+------+-------+------+----+

# sample()

- To get the random sampling subset from the large dataset
- Use fraction to indicate what percentage of data to return and seed value to make sure every time to get same random sample.

In [118]:
df = spark.range(start=1, end=101) # 101 excluded

df.show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
| 20|
+---+
only showing top 20 rows

In [119]:
df1 = df.sample(fraction=0.1)
df1.show()

+---+
| id|
+---+
|  4|
| 22|
| 23|
| 28|
| 34|
| 37|
| 42|
| 43|
| 51|
| 56|
| 64|
| 82|
| 88|
| 96|
| 99|
+---+

In [120]:
df1 = df.sample(fraction=0.1)
df1.show()

+---+
| id|
+---+
|  6|
|  7|
| 17|
| 21|
| 25|
| 30|
| 40|
| 61|
| 67|
| 83|
+---+

In [121]:
df1 = df.sample(fraction=0.1, seed=123)
df1.show()

+---+
| id|
+---+
| 36|
| 39|
| 42|
| 46|
| 72|
| 85|
| 88|
|100|
+---+

In [122]:
df1 = df.sample(fraction=0.1, seed=123)
df1.show()

+---+
| id|
+---+
| 36|
| 39|
| 42|
| 46|
| 72|
| 85|
| 88|
|100|
+---+

#  collect()

- `collect()` retrieves all elements in a DataFrame as an Array of Row type to the driver node.
- `collect()` is an action hence it does not return a DataFrame instead, it returns data in an Array to the driver. Once the data is in an array, you can use python for loop to
process it further.
- `collect()` use it with small DataFrames. With big DataFrames it may result in out of memory error as its return entier data to single node (driver)

In [123]:
data = [(1, 'maheer', 2000), (2, 'wafa', 3000)]
schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|maheer|  2000|
|  2|  wafa|  3000|
+---+------+------+

In [124]:
df1 = df.select('id')

df1.show()

+---+
| id|
+---+
|  1|
|  2|
+---+

In [125]:
listRows = df.collect()
listRows

[Row(id=1, name='maheer', salary=2000), Row(id=2, name='wafa', salary=3000)]

In [126]:
listRows[0]

Row(id=1, name='maheer', salary=2000)

In [127]:
listRows[0].name

'maheer'

In [128]:
listRows[0][1]

'maheer'

# DataFrame.transform()

- It's is used to chain the custom transformations and this function returns the new DataFrame after applying the specified transformations.

In [129]:
data = [(1, 'maheer', 2000), (2, 'wafa', 3000)]
schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|maheer|  2000|
|  2|  wafa|  3000|
+---+------+------+

In [130]:
from pyspark.sql.functions import upper

def convertNameToUpper(df):
    return df.withColumn('name', upper(df.name))

df = df.transform(convertNameToUpper)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|MAHEER|  2000|
|  2|  WAFA|  3000|
+---+------+------+

In [131]:
def doubleSalary(df):
    return df.withColumn('salary', df.salary*2)

df = df.transform(doubleSalary)
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|MAHEER|  4000|
|  2|  WAFA|  6000|
+---+------+------+

In [132]:
df1 = df.transform(convertNameToUpper).transform(doubleSalary)

df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|MAHEER|  8000|
|  2|  WAFA| 12000|
+---+------+------+

# pyspark.sql.functions.transform()

- It's is used to apply the transformation on a column of type Array. This function applies the specified transformation on every element of the array and returns an object of `ArrayType`.

In [133]:
data = [(1, 'maheer' , ['azure', 'dotnet']), (2, 'wafa', ['aws', 'java'])]
schema = ['id', 'name', 'skills']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+---------------+
| id|  name|         skills|
+---+------+---------------+
|  1|maheer|[azure, dotnet]|
|  2|  wafa|    [aws, java]|
+---+------+---------------+

In [134]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [135]:
from pyspark.sql.functions import transform, upper

df.select('id', 'name', transform('skills', lambda x: upper(x)).alias('skills')).show()

+---+------+---------------+
| id|  name|         skills|
+---+------+---------------+
|  1|maheer|[AZURE, DOTNET]|
|  2|  wafa|    [AWS, JAVA]|
+---+------+---------------+

In [136]:
df.show()

+---+------+---------------+
| id|  name|         skills|
+---+------+---------------+
|  1|maheer|[azure, dotnet]|
|  2|  wafa|    [aws, java]|
+---+------+---------------+

In [137]:
def convertArrayToUpper(x):
    return upper(x)
    
df.select('id', 'name', transform('skills', convertArrayToUpper)).show()

+---+------+--------------------------------------------------------------------------------------+
| id|  name|transform(skills, lambdafunction(upper(namedlambdavariable()), namedlambdavariable()))|
+---+------+--------------------------------------------------------------------------------------+
|  1|maheer|                                                                       [AZURE, DOTNET]|
|  2|  wafa|                                                                           [AWS, JAVA]|
+---+------+--------------------------------------------------------------------------------------+

In [138]:
def convertArrayToUpper(x):
    return upper(x)
    
df.select('id', 'name', transform('skills', convertArrayToUpper).alias('skills')).show()

+---+------+---------------+
| id|  name|         skills|
+---+------+---------------+
|  1|maheer|[AZURE, DOTNET]|
|  2|  wafa|    [AWS, JAVA]|
+---+------+---------------+

# createOrReplaceTempView()

- Advantage of Spark, you can work with SQL along with DataFrames. That means, if you are comfortable with SQL, you can create temporary view on Dataframe by using createOrReplace TempView() and use SQL to select and manipulate data.
- Temp Views are session scoped and cannot be shared between the sessions.

In [139]:
data = [(1, 'maheer', 2000), (2, 'wafa', 3000)]
schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|maheer|  2000|
|  2|  wafa|  3000|
+---+------+------+

In [140]:
df1 = df.select('id', 'name')

df1.show()

+---+------+
| id|  name|
+---+------+
|  1|maheer|
|  2|  wafa|
+---+------+

In [141]:
df.createOrReplaceTempView('employees')

df1 = spark.sql("select id, name from employees")
df1.show()

+---+------+
| id|  name|
+---+------+
|  1|maheer|
|  2|  wafa|
+---+------+

In [ ]:
%sql # for databricks
select id, upper(name) from employees

# createOrReplaceGlobalTempView()

- It's used to create temp views or tables globally, when can be accessed across the sessions with in Spark Application.
- To query these tables, we need append `global_temp.<tablename>`

In [143]:
data = [(1, 'maheer', 2000), (2, 'wafa', 3000)]
schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|maheer|  2000|
|  2|  wafa|  3000|
+---+------+------+

In [144]:
df.createOrReplaceGlobalTempView('globalEmp')

df1 = spark.sql("select id, name from global_temp.globalEmp")
df1.show()

+---+------+
| id|  name|
+---+------+
|  1|maheer|
|  2|  wafa|
+---+------+

In [145]:
spark.catalog.currentDatabase()

'default'

In [146]:
spark.catalog.listTables()

[Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [147]:
spark.catalog.listTables('default')

[Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [148]:
spark.catalog.listTables('global_temp')

[Table(name='globalEmp', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [149]:
spark.catalog.dropGlobalTempView('globalEmp')

True

# user defined function

- These are similar to functions in SQL. We define some logic in functions and store them in Database and use them in queries.
- Similar to that we can write our own custom logic in python function and register it with PySpark using `udf()` function

In [150]:
data = [(1, 'maheer', 2000, 500), (2, 'wafa', 4000, 1000)]
schema = ['id', 'name', 'salary', 'bonus']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+-----+
| id|  name|salary|bonus|
+---+------+------+-----+
|  1|maheer|  2000|  500|
|  2|  wafa|  4000| 1000|
+---+------+------+-----+

In [151]:
def totalPay(sal, bon):
    return sal+bon

In [152]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

totalPayment = udf(lambda sal, bon: totalPay(sal, bon), IntegerType())

In [153]:
df.withColumn('total salary', totalPayment(df.salary, df.bonus)).show()

+---+------+------+-----+------------+
| id|  name|salary|bonus|total salary|
+---+------+------+-----+------------+
|  1|maheer|  2000|  500|        2500|
|  2|  wafa|  4000| 1000|        5000|
+---+------+------+-----+------------+

In [154]:
# another way to register UDF

@udf(returnType=IntegerType())
def totalPay(sal, bon):
    return sal+bon

In [155]:
df.select('*', totalPay(df.salary, df.bonus)).show()

+---+------+------+-----+-----------------------+
| id|  name|salary|bonus|totalPay(salary, bonus)|
+---+------+------+-----+-----------------------+
|  1|maheer|  2000|  500|                   2500|
|  2|  wafa|  4000| 1000|                   5000|
+---+------+------+-----+-----------------------+

In [156]:
df.select('*', totalPay(df.salary, df.bonus).alias('using @udf')).show()

+---+------+------+-----+----------+
| id|  name|salary|bonus|using @udf|
+---+------+------+-----+----------+
|  1|maheer|  2000|  500|      2500|
|  2|  wafa|  4000| 1000|      5000|
+---+------+------+-----+----------+

In [157]:
# register UDF so that it can be used in SQL as well

def totalPay(sal, bon):
    return sal+bon

spark.udf.register(name='totalPaySQL', f=totalPay, returnType=IntegerType())

In [158]:
df.createOrReplaceTempView('employees')

df1 = spark.sql("select id, name, totalPaySQL(salary, bonus) as totSal from employees")
df1.show()

+---+------+------+
| id|  name|totSal|
+---+------+------+
|  1|maheer|  2500|
|  2|  wafa|  5000|
+---+------+------+

# Convert RDD(Resilient distributed dataset) to Dataframe

- Its collection of objects similar to list in Python. Its Immutable and In memory processing.
- By using `parallelize()` function of SparkContext you can create an RDD.

In [159]:
data = [(1, 'maheer', 2000, 500), (2, 'wafa', 4000, 1000)]

rdd = spark.sparkContext.parallelize(data)

type(rdd)

pyspark.rdd.RDD

In [160]:
rdd.collect()

[(1, 'maheer', 2000, 500), (2, 'wafa', 4000, 1000)]

In [161]:
df1 = rdd.toDF()

type(df1)

pyspark.sql.dataframe.DataFrame

In [162]:
df1.show()

+---+------+----+----+
| _1|    _2|  _3|  _4|
+---+------+----+----+
|  1|maheer|2000| 500|
|  2|  wafa|4000|1000|
+---+------+----+----+

In [163]:
df2 = rdd.toDF(schema = ['id', 'name', 'salary', 'bonus'])

df2.show()

+---+------+------+-----+
| id|  name|salary|bonus|
+---+------+------+-----+
|  1|maheer|  2000|  500|
|  2|  wafa|  4000| 1000|
+---+------+------+-----+

In [164]:
df3 = spark.createDataFrame(rdd, schema = ['id', 'name', 'salary', 'bonus'])

df3.show()

+---+------+------+-----+
| id|  name|salary|bonus|
+---+------+------+-----+
|  1|maheer|  2000|  500|
|  2|  wafa|  4000| 1000|
+---+------+------+-----+

# map()

- Its RDD transformation used to apply function (lambda) on every element of RDD and returns new RDD.
- Dataframe doesn't have `map()` transformation to use with Dataframe you need to generate RDD first.

In [165]:
data = [('maheer', 'shaik'), ('wafa', 'shaik')]

rdd = spark. sparkContext.parallelize (data)

rdd.collect()

[('maheer', 'shaik'), ('wafa', 'shaik')]

In [166]:
newRDD = rdd.map(lambda x: x + (x[0]+' '+x[1],))

newRDD.collect()

[('maheer', 'shaik', 'maheer shaik'), ('wafa', 'shaik', 'wafa shaik')]

In [167]:
data = [('maheer', 'shaik'), ('wafa', 'shaik')]

df = spark.createDataFrame(data, ['fname', 'lname'])
df.show()

+------+-----+
| fname|lname|
+------+-----+
|maheer|shaik|
|  wafa|shaik|
+------+-----+

In [168]:
rdd1 = df.rdd.map(lambda x: x + (x[0]+' '+x[1],))

df = rdd1.toDF(schema=['fname', 'lname', 'fullname'])

df.show()

+------+-----+------------+
| fname|lname|    fullname|
+------+-----+------------+
|maheer|shaik|maheer shaik|
|  wafa|shaik|  wafa shaik|
+------+-----+------------+

In [169]:
def fullname(x):
    return x + (x[0]+' '+x[1],)
    
data = [('maheer', 'shaik'), ('wafa', 'shaik')]

df = spark.createDataFrame(data, ['fn', 'ln'])

rddl = df.rdd.map(lambda x: fullname(x))

df1 = rdd1.toDF(['fn', 'ln', ' fullname'])
df1.show()

+------+-----+------------+
|    fn|   ln|    fullname|
+------+-----+------------+
|maheer|shaik|maheer shaik|
|  wafa|shaik|  wafa shaik|
+------+-----+------------+

# flatMap()

- flatMap() is a transformation operation that flattens the RDD (array/map DataFrame columns) after applying the function on every element and returns a new PySpark RDD
- Its not available in dataframes. Explode() functions can be used in dataframes to flatten arrays.

In [170]:
data = ['maheer basha', 'abdul wafa']

rdd = spark.sparkContext.parallelize(data)

for item in rdd.collect():
    print(item)

maheer basha
abdul wafa

In [171]:
rddl = rdd.map(lambda x: x.split(' '))

for item in rddl.collect():
    print(item)

['maheer', 'basha']
['abdul', 'wafa']

In [172]:
rdd2 = rdd.flatMap(lambda x: x.split(' '))

for item in rdd2.collect():
    print(item)

maheer
basha
abdul
wafa

# partitionBy()

- Its used to partition large Dataset into smaller files based on one or multiple columns

In [173]:
data = [(1, 'maheer', 'male', 'IT'), (2, 'wafa', 'male', 'HR'), (3, 'asi', 'female', 'IT')]

schema = ['id', 'name', 'gender', 'dep']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+---+
| id|  name|gender|dep|
+---+------+------+---+
|  1|maheer|  male| IT|
|  2|  wafa|  male| HR|
|  3|   asi|female| IT|
+---+------+------+---+

In [174]:
df.write.parquet('./employees', mode='overwrite', partitionBy='dep')

In [175]:
spark.read.parquet('./employees').show()

+---+------+------+---+
| id|  name|gender|dep|
+---+------+------+---+
|  1|maheer|  male| IT|
|  3|   asi|female| IT|
|  2|  wafa|  male| HR|
+---+------+------+---+

In [176]:
spark.read.parquet('./employees/dep=IT').show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|maheer|  male|
|  3|   asi|female|
+---+------+------+

In [177]:
df.write.parquet('./employees1', mode='overwrite', partitionBy=['dep', 'gender'])

# from_json()

- It's used to convert json string in to `MapType` or `StructType`.

### MapType:

In [178]:
data = [('maheer', '{"hair": "black", "eye": "brown"}')]
schema = ['id', 'props']

df = spark.createDataFrame(data, schema)

df.show()

+------+--------------------+
|    id|               props|
+------+--------------------+
|maheer|{"hair": "black",...|
+------+--------------------+

In [179]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- props: string (nullable = true)

In [180]:
from pyspark.sql.functions import from_json
from pyspark.sql.types import MapType, StringType

mapTypeSchema = MapType(StringType(), StringType())

df = df.withColumn('propsMap', from_json(df.props, mapTypeSchema))

df.show(truncate=False)

+------+---------------------------------+-----------------------------+
|id    |props                            |propsMap                     |
+------+---------------------------------+-----------------------------+
|maheer|{"hair": "black", "eye": "brown"}|{hair -> black, eye -> brown}|
+------+---------------------------------+-----------------------------+

In [181]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- props: string (nullable = true)
 |-- propsMap: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [182]:
df = df.withColumn('hair', df.propsMap.hair).withColumn('eye', df.propsMap.eye)

df.show(truncate=False)

+------+---------------------------------+-----------------------------+-----+-----+
|id    |props                            |propsMap                     |hair |eye  |
+------+---------------------------------+-----------------------------+-----+-----+
|maheer|{"hair": "black", "eye": "brown"}|{hair -> black, eye -> brown}|black|brown|
+------+---------------------------------+-----------------------------+-----+-----+

### StructType:

In [183]:
data = [('maheer', '{"hair": "black", "eye": "brown"}')]
schema = ['id', 'props']

df = spark.createDataFrame(data, schema)

df.show()

+------+--------------------+
|    id|               props|
+------+--------------------+
|maheer|{"hair": "black",...|
+------+--------------------+

In [184]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- props: string (nullable = true)

In [185]:
from pyspark.sql.functions import from_json
from pyspark.sql.types import StructType, StructField, StringType

structTypeSchema = StructType([StructField('hair', StringType()),
                              StructField('eye', StringType())])

df = df.withColumn('propsStruct', from_json(df.props, structTypeSchema))

df.show(truncate=False)

+------+---------------------------------+--------------+
|id    |props                            |propsStruct   |
+------+---------------------------------+--------------+
|maheer|{"hair": "black", "eye": "brown"}|{black, brown}|
+------+---------------------------------+--------------+

In [186]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- props: string (nullable = true)
 |-- propsStruct: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

In [187]:
df = df.withColumn('hair', df.propsStruct.hair).withColumn('eye', df.propsStruct.eye)

df.show()

+------+--------------------+--------------+-----+-----+
|    id|               props|   propsStruct| hair|  eye|
+------+--------------------+--------------+-----+-----+
|maheer|{"hair": "black",...|{black, brown}|black|brown|
+------+--------------------+--------------+-----+-----+

# to_json()

- `to_json()` is used to convert DataFrame column `MapType` or `StructType` to JSON string.

In [188]:
data =[('maheer', {'hair': 'black', 'eye': 'brown'})]
schema = ['name', 'properties']

df = spark.createDataFrame(data, schema)

df.show()

+------+--------------------+
|  name|          properties|
+------+--------------------+
|maheer|{eye -> brown, ha...|
+------+--------------------+

In [189]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [190]:
from pyspark.sql.functions import to_json
from pyspark.sql.types import StructType, StructField, StringType

df = df.withColumn('propsString', to_json(df.properties))

df.show(truncate=False)

+------+-----------------------------+------------------------------+
|name  |properties                   |propsString                   |
+------+-----------------------------+------------------------------+
|maheer|{eye -> brown, hair -> black}|{"eye":"brown","hair":"black"}|
+------+-----------------------------+------------------------------+

In [191]:
data =[('maheer', ('black', 'brown') )]
schema = StructType([StructField ('name', StringType ()),
                    StructField('properties', StructType([StructField('hair', StringType()), StructField('eye', StringType())]))])

df = spark.createDataFrame(data, schema)

df.show()

+------+--------------+
|  name|    properties|
+------+--------------+
|maheer|{black, brown}|
+------+--------------+

In [192]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- properties: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

In [193]:
df = df.withColumn('propsJSONString', to_json(df.properties))

df.show(truncate=False)

+------+--------------+------------------------------+
|name  |properties    |propsJSONString               |
+------+--------------+------------------------------+
|maheer|{black, brown}|{"hair":"black","eye":"brown"}|
+------+--------------+------------------------------+

# json_tuple()

- `json_tuple()` function is used to query or extract elements from json string column and create as new columns.

In [194]:
data = [('maheer', '{"hair": "black", "eye": "brown", "skin": "brown"}'),
        ('wafa', '{"hair": "black", "eye": "blue", "skin": "white"}')]

schema = ['name', 'props']

df = spark.createDataFrame(data, schema)

df.show(truncate=False)

+------+--------------------------------------------------+
|name  |props                                             |
+------+--------------------------------------------------+
|maheer|{"hair": "black", "eye": "brown", "skin": "brown"}|
|wafa  |{"hair": "black", "eye": "blue", "skin": "white"} |
+------+--------------------------------------------------+

In [195]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)

In [196]:
from pyspark.sql.functions import json_tuple

df.select('name', json_tuple(df.props, 'skin', 'eye')).show()

+------+-----+-----+
|  name|   c0|   c1|
+------+-----+-----+
|maheer|brown|brown|
|  wafa|white| blue|
+------+-----+-----+

In [197]:
df.select('name', json_tuple(df.props, 'skin', 'eye').alias('skin color', 'eye color')).show()

+------+----------+---------+
|  name|skin color|eye color|
+------+----------+---------+
|maheer|     brown|    brown|
|  wafa|     white|     blue|
+------+----------+---------+

# get_json_object()

- It's used to extract the JSON string based on path from the JSON column.

In [198]:
data = [('maheer', '{"address": {"city": "hyd", "state": "telengana"}, "gender": "male"}'),
        ('wafa', '{"address": {"city": "banglore", "state": "karnataka"}, "eye": "blue"}')]
schema = ['name', 'props']

df = spark.createDataFrame(data, schema)

df.show(truncate=False)

+------+----------------------------------------------------------------------+
|name  |props                                                                 |
+------+----------------------------------------------------------------------+
|maheer|{"address": {"city": "hyd", "state": "telengana"}, "gender": "male"}  |
|wafa  |{"address": {"city": "banglore", "state": "karnataka"}, "eye": "blue"}|
+------+----------------------------------------------------------------------+

In [199]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)

In [200]:
from pyspark.sql.functions import get_json_object

df1 = df.select('name', get_json_object('props', '$.gender').alias('gender'))

df1.show(truncate=False)

+------+------+
|name  |gender|
+------+------+
|maheer|male  |
|wafa  |NULL  |
+------+------+

In [201]:
df2 = df.select('name', get_json_object('props', '$.address.city').alias('city'))

df2.show()

+------+--------+
|  name|    city|
+------+--------+
|maheer|     hyd|
|  wafa|banglore|
+------+--------+

In [202]:
df2 = df.select('name', get_json_object('props', '$.address.city').alias('city'),
                           get_json_object('props', '$.address.state').alias('state'))

df2.show()

+------+--------+---------+
|  name|    city|    state|
+------+--------+---------+
|maheer|     hyd|telengana|
|  wafa|banglore|karnataka|
+------+--------+---------+

# Date: current_date(), to_date(), date_format()

- DateType default fomart is `yyyy-MM-dd`.
- `current_date()` get the current system date. By default, the data will be returned in `yyyy-dd-mm` format.
- `date_format()` to parses the date and converts from `yyyy-MM-dd` to specified format.
- `to_date()` converts date string in to datetype. We need to specify format of date in the string in the function.

In [203]:
df = spark.range(5)

df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [204]:
from pyspark.sql.functions import current_date

df = df.withColumn('current date', current_date())

df.show()

+---+------------+
| id|current date|
+---+------------+
|  0|  2025-02-08|
|  1|  2025-02-08|
|  2|  2025-02-08|
|  3|  2025-02-08|
|  4|  2025-02-08|
+---+------------+

In [205]:
df.printSchema()

root
 |-- id: long (nullable = false)
 |-- current date: date (nullable = false)

In [206]:
from pyspark.sql.functions import date_format

df = df.withColumn('current date', date_format(df['current date'], 'dd.MM.yyyy'))

df.show()

+---+------------+
| id|current date|
+---+------------+
|  0|  08.02.2025|
|  1|  08.02.2025|
|  2|  08.02.2025|
|  3|  08.02.2025|
|  4|  08.02.2025|
+---+------------+

In [207]:
df.printSchema()

root
 |-- id: long (nullable = false)
 |-- current date: string (nullable = false)

In [208]:
from pyspark.sql.functions import to_date

df = df.withColumn('current date', to_date(df['current date'], 'dd.MM.yyyy'))

df.show()

# since date default type is yyyy-MM-dd so it display in same format here

+---+------------+
| id|current date|
+---+------------+
|  0|  2025-02-08|
|  1|  2025-02-08|
|  2|  2025-02-08|
|  3|  2025-02-08|
|  4|  2025-02-08|
+---+------------+

In [209]:
df.printSchema()

root
 |-- id: long (nullable = false)
 |-- current date: date (nullable = true)

# datediff(), months_between(), add_months(), date_add(), month(), year()

In [210]:
df = spark.createDataFrame([('2015-06-14', '2015-07-14')], ['d1','d2'])

df.show()

+----------+----------+
|        d1|        d2|
+----------+----------+
|2015-06-14|2015-07-14|
+----------+----------+

In [211]:
from pyspark.sql.functions import datediff

df.withColumn('date diff', datediff(df.d2, df.d1)).show()

+----------+----------+---------+
|        d1|        d2|date diff|
+----------+----------+---------+
|2015-06-14|2015-07-14|       30|
+----------+----------+---------+

In [212]:
from pyspark.sql.functions import months_between

df.withColumn('month betn', months_between(df.d2, df.d1)).show()

+----------+----------+----------+
|        d1|        d2|month betn|
+----------+----------+----------+
|2015-06-14|2015-07-14|       1.0|
+----------+----------+----------+

In [213]:
from pyspark.sql.functions import add_months

df.withColumn('added month', add_months(df.d2, 3)).show()

+----------+----------+-----------+
|        d1|        d2|added month|
+----------+----------+-----------+
|2015-06-14|2015-07-14| 2015-10-14|
+----------+----------+-----------+

In [214]:
df.withColumn('decreased month', add_months(df.d2, -3)).show()

+----------+----------+---------------+
|        d1|        d2|decreased month|
+----------+----------+---------------+
|2015-06-14|2015-07-14|     2015-04-14|
+----------+----------+---------------+

In [215]:
from pyspark.sql.functions import date_add

df.withColumn('added days', date_add(df.d2, 7)).show()

+----------+----------+----------+
|        d1|        d2|added days|
+----------+----------+----------+
|2015-06-14|2015-07-14|2015-07-21|
+----------+----------+----------+

In [216]:
df.withColumn('decreaed days', date_add(df.d2, -7)).show()

+----------+----------+-------------+
|        d1|        d2|decreaed days|
+----------+----------+-------------+
|2015-06-14|2015-07-14|   2015-07-07|
+----------+----------+-------------+

In [217]:
from pyspark.sql.functions import year

df.withColumn('year', year(df.d2)).show()

+----------+----------+----+
|        d1|        d2|year|
+----------+----------+----+
|2015-06-14|2015-07-14|2015|
+----------+----------+----+

In [218]:
from pyspark.sql.functions import month

df.withColumn('month', month(df.d2)).show()

+----------+----------+-----+
|        d1|        d2|month|
+----------+----------+-----+
|2015-06-14|2015-07-14|    7|
+----------+----------+-----+

# Timestamp: current_timestamp(), to_timestamp(), hour(), minute(), second()

- TimestampType default fomart is `yyyy-MM-dd HH:mm:ss.SS`
- `current_timestamp()` get the current timestamp. By default, the data will be returned in default format.
- `to_timestamp()` converts timestamp string in to TimestampType. We need to specify format of timestamp in the string in the function.
- `hour()`, `minute()`, `second()` functions

In [219]:
df = spark.range(7)

df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
+---+

In [220]:
from pyspark.sql.functions import current_timestamp

df = df.withColumn('current timestamp', current_timestamp())

df.show(truncate=False)

+---+-----------------------+
|id |current timestamp      |
+---+-----------------------+
|0  |2025-02-08 14:25:02.676|
|1  |2025-02-08 14:25:02.676|
|2  |2025-02-08 14:25:02.676|
|3  |2025-02-08 14:25:02.676|
|4  |2025-02-08 14:25:02.676|
|5  |2025-02-08 14:25:02.676|
|6  |2025-02-08 14:25:02.676|
+---+-----------------------+

In [221]:
df.printSchema()

root
 |-- id: long (nullable = false)
 |-- current timestamp: timestamp (nullable = false)

In [222]:
from pyspark.sql.functions import lit

df = df.withColumn('timestamp In String', lit('12.25.2022 08.10.03'))

df.show(truncate=False)

+---+-----------------------+-------------------+
|id |current timestamp      |timestamp In String|
+---+-----------------------+-------------------+
|0  |2025-02-08 14:25:02.788|12.25.2022 08.10.03|
|1  |2025-02-08 14:25:02.788|12.25.2022 08.10.03|
|2  |2025-02-08 14:25:02.788|12.25.2022 08.10.03|
|3  |2025-02-08 14:25:02.788|12.25.2022 08.10.03|
|4  |2025-02-08 14:25:02.788|12.25.2022 08.10.03|
|5  |2025-02-08 14:25:02.788|12.25.2022 08.10.03|
|6  |2025-02-08 14:25:02.788|12.25.2022 08.10.03|
+---+-----------------------+-------------------+

In [223]:
df.printSchema()

root
 |-- id: long (nullable = false)
 |-- current timestamp: timestamp (nullable = false)
 |-- timestamp In String: string (nullable = false)

In [224]:
from pyspark.sql.functions import to_timestamp

df = df.withColumn('timestamp In String', to_timestamp(df['timestamp In String'], 'MM.dd.yyyy HH.mm.ss'))

df.show()

+---+--------------------+-------------------+
| id|   current timestamp|timestamp In String|
+---+--------------------+-------------------+
|  0|2025-02-08 14:25:...|2022-12-25 08:10:03|
|  1|2025-02-08 14:25:...|2022-12-25 08:10:03|
|  2|2025-02-08 14:25:...|2022-12-25 08:10:03|
|  3|2025-02-08 14:25:...|2022-12-25 08:10:03|
|  4|2025-02-08 14:25:...|2022-12-25 08:10:03|
|  5|2025-02-08 14:25:...|2022-12-25 08:10:03|
|  6|2025-02-08 14:25:...|2022-12-25 08:10:03|
+---+--------------------+-------------------+

In [225]:
df.printSchema()

root
 |-- id: long (nullable = false)
 |-- current timestamp: timestamp (nullable = false)
 |-- timestamp In String: timestamp (nullable = true)

In [226]:
from pyspark.sql.functions import hour, minute, second

df.select('*', hour(df['current timestamp']).alias('hour'),
                 minute(df['current timestamp']).alias('minuutes'),
                 second(df['current timestamp']).alias('seconds'),).show(truncate=False)

+---+-----------------------+-------------------+----+--------+-------+
|id |current timestamp      |timestamp In String|hour|minuutes|seconds|
+---+-----------------------+-------------------+----+--------+-------+
|0  |2025-02-08 14:25:02.977|2022-12-25 08:10:03|14  |25      |2      |
|1  |2025-02-08 14:25:02.977|2022-12-25 08:10:03|14  |25      |2      |
|2  |2025-02-08 14:25:02.977|2022-12-25 08:10:03|14  |25      |2      |
|3  |2025-02-08 14:25:02.977|2022-12-25 08:10:03|14  |25      |2      |
|4  |2025-02-08 14:25:02.977|2022-12-25 08:10:03|14  |25      |2      |
|5  |2025-02-08 14:25:02.977|2022-12-25 08:10:03|14  |25      |2      |
|6  |2025-02-08 14:25:02.977|2022-12-25 08:10:03|14  |25      |2      |
+---+-----------------------+-------------------+----+--------+-------+

# approx_count_distinct(), avg(), collect_list(), collect_set(), countDistinct(), count()

Aggregate functions operate on a group of rows and calculate a single return value for every group.

- `approx_count_distinct()` - returns the count of distinct items in a group of rows
- `avg()` - returns average of values in a group of rows
- `collect_list()` - returns all values from input column as list with duplicates
- `collect_set()` - returns all values from input column as list without duplicates.
- `countDistinct()` - returns number of distinct elements in input column.
- `count()` - returns number of elements in a column.

In [227]:
simpleData = [("Maheer", "HR", 1500),
                ("Wafa", "IT", 3000),
                ("Asi", "HR", 1500)]
schema = ["employee_name", "department", "salary"]

df = spark.createDataFrame(data=simpleData, schema = schema)

df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|       Maheer|        HR|  1500|
|         Wafa|        IT|  3000|
|          Asi|        HR|  1500|
+-------------+----------+------+

In [228]:
from pyspark.sql.functions import approx_count_distinct

df.select(approx_count_distinct('salary')).show()

+-----------------------------+
|approx_count_distinct(salary)|
+-----------------------------+
|                            2|
+-----------------------------+

In [229]:
from pyspark.sql.functions import avg

df.select(avg('salary')).show()

+-----------+
|avg(salary)|
+-----------+
|     2000.0|
+-----------+

In [230]:
from pyspark.sql.functions import collect_list

df.select(collect_list('salary')).show()

+--------------------+
|collect_list(salary)|
+--------------------+
|  [1500, 3000, 1500]|
+--------------------+

In [231]:
from pyspark.sql.functions import collect_set

df.select(collect_set('salary')).show()

+-------------------+
|collect_set(salary)|
+-------------------+
|       [3000, 1500]|
+-------------------+

In [232]:
from pyspark.sql.functions import countDistinct

df.select(countDistinct('salary')).show()

+----------------------+
|count(DISTINCT salary)|
+----------------------+
|                     2|
+----------------------+

In [233]:
from pyspark.sql.functions import count

df.select(count('salary')).show()

+-------------+
|count(salary)|
+-------------+
|            3|
+-------------+

# row_number(), rank(), dense_rank()

we need to partition the data using Window.partitionBy() , and for row number and rank function we need to additionally order by on partition data using orderBy clause.

- `row_number()` window function is used to give the sequential row number starting from 1 to the result of each window partition
- `rank()` window function is used to provide a rank to the result within a window partition. This function leaves gaps in rank when there are ties.
- `dense_rank()` window function is used to get the result with rank of rows within a window partition without any gaps. This is similar to `rank()` function difference being rank function leaves gaps in rank when there are ties.

In [234]:
data = [('maheer', 'HR' , 2000),
        ( 'wafa', 'IT' , 3000),
        ('asi', 'HR' ,1500),
        ('annu', 'payroll',3500),
        ('shakti', 'IT' ,3000),
        ('pradeep', 'IT',4000),
        ('karnthi', 'payroll' ,2000),
        ('Himanshu', 'IT' ,2000),
        ('bhargava', 'HR', 2000),
       ('martin', 'IT', 2500)]
schema = ['name', 'dep', 'salary']

df = spark.createDataFrame(data, schema)

df.sort('dep').show()

+--------+-------+------+
|    name|    dep|salary|
+--------+-------+------+
|  maheer|     HR|  2000|
|bhargava|     HR|  2000|
|     asi|     HR|  1500|
|    wafa|     IT|  3000|
|  martin|     IT|  2500|
|  shakti|     IT|  3000|
|Himanshu|     IT|  2000|
| pradeep|     IT|  4000|
|    annu|payroll|  3500|
| karnthi|payroll|  2000|
+--------+-------+------+

In [235]:
from pyspark.sql.window import Window

window = Window.partitionBy('dep').orderBy('salary')

In [236]:
from pyspark.sql.functions import row_number

df.withColumn('row no.', row_number().over(window)).show()

+--------+-------+------+-------+
|    name|    dep|salary|row no.|
+--------+-------+------+-------+
|     asi|     HR|  1500|      1|
|  maheer|     HR|  2000|      2|
|bhargava|     HR|  2000|      3|
|Himanshu|     IT|  2000|      1|
|  martin|     IT|  2500|      2|
|    wafa|     IT|  3000|      3|
|  shakti|     IT|  3000|      4|
| pradeep|     IT|  4000|      5|
| karnthi|payroll|  2000|      1|
|    annu|payroll|  3500|      2|
+--------+-------+------+-------+

In [237]:
from pyspark.sql.functions import rank

df.withColumn('rank', rank().over(window)).show()

+--------+-------+------+----+
|    name|    dep|salary|rank|
+--------+-------+------+----+
|     asi|     HR|  1500|   1|
|  maheer|     HR|  2000|   2|
|bhargava|     HR|  2000|   2|
|Himanshu|     IT|  2000|   1|
|  martin|     IT|  2500|   2|
|    wafa|     IT|  3000|   3|
|  shakti|     IT|  3000|   3|
| pradeep|     IT|  4000|   5|
| karnthi|payroll|  2000|   1|
|    annu|payroll|  3500|   2|
+--------+-------+------+----+

In [238]:
from pyspark.sql.functions import dense_rank

df.withColumn('dense rank', dense_rank().over(window)).show()

+--------+-------+------+----------+
|    name|    dep|salary|dense rank|
+--------+-------+------+----------+
|     asi|     HR|  1500|         1|
|  maheer|     HR|  2000|         2|
|bhargava|     HR|  2000|         2|
|Himanshu|     IT|  2000|         1|
|  martin|     IT|  2500|         2|
|    wafa|     IT|  3000|         3|
|  shakti|     IT|  3000|         3|
| pradeep|     IT|  4000|         4|
| karnthi|payroll|  2000|         1|
|    annu|payroll|  3500|         2|
+--------+-------+------+----------+

# THE END