In [1]:
!pip install pyspark

Collecting pyspark
  Using cached pyspark-3.5.3.tar.gz (317.3 MB)
Collecting py4j==0.10.9.7
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840669 sha256=09fdab52e49b529fa43be00e1c6520c3e74176d64e8395f81aa63ce1a3116e27
  Stored in directory: c:\users\saurabh prakash\appdata\local\pip\cache\wheels\2e\d2\18\6f4f20e8332359f7fffceb6828edcc80ef96f86744192a7bb9
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.3

WARNING: You are using pip version 21.1.3; however, version 24.2 is available.
You should consider upgrading via the 'e:\notebook project\env\scripts\python.exe -m pip install --upgrade pip' command.

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("learning").getOrCreate()
spark

In [4]:
df_ps = spark.read.csv("50_Startups.csv")
df_ps

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [5]:
df_ps.show()

+---------+--------------+---------------+----------+---------+
|      _c0|           _c1|            _c2|       _c3|      _c4|
+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [6]:
df_ps = spark.read.option("header", "true").csv("50_Startups.csv")
df_ps

DataFrame[R&D Spend: string, Administration: string, Marketing Spend: string, State: string, Profit: string]

In [7]:
df_ps = spark.read.option("header", "true").csv("50_Startups.csv", inferSchema=True)
df_ps

DataFrame[R&D Spend: double, Administration: double, Marketing Spend: double, State: string, Profit: double]

In [8]:
df_ps.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|            0.0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

## reading files

In [3]:
df_ps = spark.read.csv("50_Startups.csv", header=True, inferSchema=True)
df_ps

DataFrame[R&D Spend: double, Administration: double, Marketing Spend: double, State: string, Profit: double]

In [4]:
type(df_ps)

pyspark.sql.dataframe.DataFrame

In [5]:
df_ps.columns

['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit']

In [6]:
df_ps.count() # rows count

50

In [7]:
len(df_ps.columns) # column count

5

In [8]:
df_ps.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|            0.0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [9]:
df_ps.show(50)

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|            0.0|  New York|122776.86|
| 76253.86|      113867.3|      298664.47|California|118474.03|
| 78389.47|     153773.43|      299737.29|  New York|111313.02|
| 73994.56|     122782.75|      303319.26|   Florida|110352.25|
| 67532.53|     105751.03|      304768.73|   Florida|108733.99|
| 77044.01|      99281.34|      140574.81|  New York|108552.04|
| 64664.71|     139553.16|      137962.62|California|107404.34|
| 75328.87|     144135.98|      134050.07|   Florida|105733.54|
|  72107.6|     127864.55|      353183.81|  New York|105008.31|
| 66051.52|     182645.56|       118148.2|   Florida|103282.38|
| 65605.48|     153032.06|      107138.38|  New York|101004.64|
| 61994.48|     115641.28|       91131.24|   Florida| 99937.59|
| 61136.38|     152701.92|       88218.23|  New York| 97483.56|
| 63408.86|     129219.61|       46085.25|California| 97427.84|
| 55493.95|     103057.49|      214634.81|   Florida| 96778.92|
| 46426.07|     157693.92|      210797.67|California|  96712.8|
| 46014.02|      85047.44|      205517.64|  New York| 96479.51|
| 28663.76|     127056.21|      201126.82|   Florida| 90708.19|
| 44069.95|      51283.14|      197029.42|California| 89949.14|
| 20229.59|      65947.93|       185265.1|  New York| 81229.06|
| 38558.51|      82982.09|       174999.3|California| 81005.76|
| 28754.33|     118546.05|      172795.67|California| 78239.91|
| 27892.92|      84710.77|      164470.71|   Florida| 77798.83|
| 23640.93|      96189.63|      148001.11|California| 71498.49|
| 15505.73|      127382.3|       35534.17|  New York| 69758.98|
| 22177.74|     154806.14|       28334.72|California| 65200.33|
|  1000.23|     124153.04|        1903.93|  New York| 64926.08|
|  1315.46|     115816.21|      297114.46|   Florida| 49490.75|
|      0.0|     135426.92|            0.0|California| 42559.73|
|   542.05|      51743.15|            0.0|  New York| 35673.41|
|      0.0|      116983.8|       45173.06|California|  14681.4|
+---------+--------------+---------------+----------+---------+

In [10]:
df_ps.head()

Row(R&D Spend=165349.2, Administration=136897.8, Marketing Spend=471784.1, State='New York', Profit=192261.83)

In [11]:
df_ps.head(5)

[Row(R&D Spend=165349.2, Administration=136897.8, Marketing Spend=471784.1, State='New York', Profit=192261.83),
 Row(R&D Spend=162597.7, Administration=151377.59, Marketing Spend=443898.53, State='California', Profit=191792.06),
 Row(R&D Spend=153441.51, Administration=101145.55, Marketing Spend=407934.54, State='Florida', Profit=191050.39),
 Row(R&D Spend=144372.41, Administration=118671.85, Marketing Spend=383199.62, State='New York', Profit=182901.99),
 Row(R&D Spend=142107.34, Administration=91391.77, Marketing Spend=366168.42, State='Florida', Profit=166187.94)]

In [12]:
df_ps.tail(5)

[Row(R&D Spend=1000.23, Administration=124153.04, Marketing Spend=1903.93, State='New York', Profit=64926.08),
 Row(R&D Spend=1315.46, Administration=115816.21, Marketing Spend=297114.46, State='Florida', Profit=49490.75),
 Row(R&D Spend=0.0, Administration=135426.92, Marketing Spend=0.0, State='California', Profit=42559.73),
 Row(R&D Spend=542.05, Administration=51743.15, Marketing Spend=0.0, State='New York', Profit=35673.41),
 Row(R&D Spend=0.0, Administration=116983.8, Marketing Spend=45173.06, State='California', Profit=14681.4)]

In [13]:
df_ps.dtypes

[('R&D Spend', 'double'),
 ('Administration', 'double'),
 ('Marketing Spend', 'double'),
 ('State', 'string'),
 ('Profit', 'double')]

In [14]:
df_ps.printSchema()

root
 |-- R&D Spend: double (nullable = true)
 |-- Administration: double (nullable = true)
 |-- Marketing Spend: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: double (nullable = true)

## indexing

In PySpark, DataFrames don't have row-based indexing like pandas (i.e., no iloc or loc). Instead, PySpark operates on distributed data, and rows are not stored in a specific order. However, there are several ways to simulate or achieve similar functionality to indexing, depending on what you want to achieve

In [15]:
df_ps.limit(10).show()  # Selects the first 10 rows

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
+---------+--------------+---------------+----------+---------+

In [16]:
df_ps.orderBy("Profit").limit(10).show()  # Top 10 rows ordered by column_name

+---------+--------------+---------------+----------+--------+
|R&D Spend|Administration|Marketing Spend|     State|  Profit|
+---------+--------------+---------------+----------+--------+
|      0.0|      116983.8|       45173.06|California| 14681.4|
|   542.05|      51743.15|            0.0|  New York|35673.41|
|      0.0|     135426.92|            0.0|California|42559.73|
|  1315.46|     115816.21|      297114.46|   Florida|49490.75|
|  1000.23|     124153.04|        1903.93|  New York|64926.08|
| 22177.74|     154806.14|       28334.72|California|65200.33|
| 15505.73|      127382.3|       35534.17|  New York|69758.98|
| 23640.93|      96189.63|      148001.11|California|71498.49|
| 27892.92|      84710.77|      164470.71|   Florida|77798.83|
| 28754.33|     118546.05|      172795.67|California|78239.91|
+---------+--------------+---------------+----------+--------+

## selecting column or columns

In [17]:
df_ps.select("State").show()

+----------+
|     State|
+----------+
|  New York|
|California|
|   Florida|
|  New York|
|   Florida|
|  New York|
|California|
|   Florida|
|  New York|
|California|
|   Florida|
|California|
|   Florida|
|California|
|   Florida|
|  New York|
|California|
|  New York|
|   Florida|
|  New York|
+----------+
only showing top 20 rows

In [18]:
df_ps.select(["Marketing Spend", "State", "Profit"]).show()

+---------------+----------+---------+
|Marketing Spend|     State|   Profit|
+---------------+----------+---------+
|       471784.1|  New York|192261.83|
|      443898.53|California|191792.06|
|      407934.54|   Florida|191050.39|
|      383199.62|  New York|182901.99|
|      366168.42|   Florida|166187.94|
|      362861.36|  New York|156991.12|
|      127716.82|California|156122.51|
|      323876.68|   Florida| 155752.6|
|      311613.29|  New York|152211.77|
|      304981.62|California|149759.96|
|      229160.95|   Florida|146121.95|
|      249744.55|California| 144259.4|
|      249839.44|   Florida|141585.52|
|      252664.93|California|134307.35|
|      256512.92|   Florida|132602.65|
|      261776.23|  New York|129917.04|
|      264346.06|California|126992.93|
|      282574.31|  New York|125370.37|
|      294919.57|   Florida| 124266.9|
|            0.0|  New York|122776.86|
+---------------+----------+---------+
only showing top 20 rows

In [19]:
df_ps["Profit"]

Column<'Profit'>

In [20]:
df_ps["Profit"].show() # Error

TypeError: 'Column' object is not callable

In [ ]:
df_ps.describe().show()

## adding column or columns

In [21]:
from pyspark.sql import functions as F

df_ps = df_ps.withColumn("New column", F.lit(None))
df_ps.show()

+---------+--------------+---------------+----------+---------+----------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|New column|
+---------+--------------+---------------+----------+---------+----------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|      NULL|
| 162597.7|     151377.59|      443898.53|California|191792.06|      NULL|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|      NULL|
|144372.41|     118671.85|      383199.62|  New York|182901.99|      NULL|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|      NULL|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|      NULL|
|134615.46|     147198.87|      127716.82|California|156122.51|      NULL|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|      NULL|
|120542.52|     148718.95|      311613.29|  New York|152211.77|      NULL|
|123334.88|     108679.17|      304981.62|California|149759.96|      NULL|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|      NULL|
|100671.96|      91790.61|      249744.55|California| 144259.4|      NULL|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|      NULL|
| 91992.39|     135495.07|      252664.93|California|134307.35|      NULL|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|      NULL|
|114523.61|     122616.84|      261776.23|  New York|129917.04|      NULL|
| 78013.11|     121597.55|      264346.06|California|126992.93|      NULL|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|      NULL|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|      NULL|
|  86419.7|     153514.11|            0.0|  New York|122776.86|      NULL|
+---------+--------------+---------------+----------+---------+----------+
only showing top 20 rows

In [22]:
df_ps = df_ps.withColumn("new_col1", F.lit("val1")).withColumn("new_col2", F.lit(0))
df_ps.show()

+---------+--------------+---------------+----------+---------+----------+--------+--------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|New column|new_col1|new_col2|
+---------+--------------+---------------+----------+---------+----------+--------+--------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|      NULL|    val1|       0|
| 162597.7|     151377.59|      443898.53|California|191792.06|      NULL|    val1|       0|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|      NULL|    val1|       0|
|144372.41|     118671.85|      383199.62|  New York|182901.99|      NULL|    val1|       0|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|      NULL|    val1|       0|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|      NULL|    val1|       0|
|134615.46|     147198.87|      127716.82|California|156122.51|      NULL|    val1|       0|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|      NULL|    val1|       0|
|120542.52|     148718.95|      311613.29|  New York|152211.77|      NULL|    val1|       0|
|123334.88|     108679.17|      304981.62|California|149759.96|      NULL|    val1|       0|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|      NULL|    val1|       0|
|100671.96|      91790.61|      249744.55|California| 144259.4|      NULL|    val1|       0|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|      NULL|    val1|       0|
| 91992.39|     135495.07|      252664.93|California|134307.35|      NULL|    val1|       0|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|      NULL|    val1|       0|
|114523.61|     122616.84|      261776.23|  New York|129917.04|      NULL|    val1|       0|
| 78013.11|     121597.55|      264346.06|California|126992.93|      NULL|    val1|       0|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|      NULL|    val1|       0|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|      NULL|    val1|       0|
|  86419.7|     153514.11|            0.0|  New York|122776.86|      NULL|    val1|       0|
+---------+--------------+---------------+----------+---------+----------+--------+--------+
only showing top 20 rows

In [23]:
from pyspark.sql.functions import col

# Add a new column "new_column" which is twice the value of "existing_column"
df_ps = df_ps.withColumn("new_column", col("new_col2") + 2)
df_ps.show()

+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|New column|new_col1|new_col2|new_column|
+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|      NULL|    val1|       0|         2|
| 162597.7|     151377.59|      443898.53|California|191792.06|      NULL|    val1|       0|         2|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|      NULL|    val1|       0|         2|
|144372.41|     118671.85|      383199.62|  New York|182901.99|      NULL|    val1|       0|         2|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|      NULL|    val1|       0|         2|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|      NULL|    val1|       0|         2|
|134615.46|     147198.87|      127716.82|California|156122.51|      NULL|    val1|       0|         2|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|      NULL|    val1|       0|         2|
|120542.52|     148718.95|      311613.29|  New York|152211.77|      NULL|    val1|       0|         2|
|123334.88|     108679.17|      304981.62|California|149759.96|      NULL|    val1|       0|         2|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|      NULL|    val1|       0|         2|
|100671.96|      91790.61|      249744.55|California| 144259.4|      NULL|    val1|       0|         2|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|      NULL|    val1|       0|         2|
| 91992.39|     135495.07|      252664.93|California|134307.35|      NULL|    val1|       0|         2|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|      NULL|    val1|       0|         2|
|114523.61|     122616.84|      261776.23|  New York|129917.04|      NULL|    val1|       0|         2|
| 78013.11|     121597.55|      264346.06|California|126992.93|      NULL|    val1|       0|         2|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|      NULL|    val1|       0|         2|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|      NULL|    val1|       0|         2|
|  86419.7|     153514.11|            0.0|  New York|122776.86|      NULL|    val1|       0|         2|
+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+
only showing top 20 rows

In [24]:
# Add a Column with a Calculation

df_ps = df_ps.withColumn("Total Expenditure", df_ps["R&D Spend"]+df_ps["Administration"]+df_ps["Marketing Spend"])
df_ps.show()

+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+------------------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|New column|new_col1|new_col2|new_column| Total Expenditure|
+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+------------------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|      NULL|    val1|       0|         2|          774031.1|
| 162597.7|     151377.59|      443898.53|California|191792.06|      NULL|    val1|       0|         2| 757873.8200000001|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|      NULL|    val1|       0|         2|          662521.6|
|144372.41|     118671.85|      383199.62|  New York|182901.99|      NULL|    val1|       0|         2|         646243.88|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|      NULL|    val1|       0|         2|         599667.53|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|      NULL|    val1|       0|         2|         594552.97|
|134615.46|     147198.87|      127716.82|California|156122.51|      NULL|    val1|       0|         2|409531.14999999997|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|      NULL|    val1|       0|         2|         599704.87|
|120542.52|     148718.95|      311613.29|  New York|152211.77|      NULL|    val1|       0|         2|         580874.76|
|123334.88|     108679.17|      304981.62|California|149759.96|      NULL|    val1|       0|         2| 536995.6699999999|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|      NULL|    val1|       0|         2|         441668.14|
|100671.96|      91790.61|      249744.55|California| 144259.4|      NULL|    val1|       0|         2|         442207.12|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|      NULL|    val1|       0|         2|         471023.57|
| 91992.39|     135495.07|      252664.93|California|134307.35|      NULL|    val1|       0|         2|         480152.39|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|      NULL|    val1|       0|         2| 533003.5800000001|
|114523.61|     122616.84|      261776.23|  New York|129917.04|      NULL|    val1|       0|         2|498916.68000000005|
| 78013.11|     121597.55|      264346.06|California|126992.93|      NULL|    val1|       0|         2|         463956.72|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|      NULL|    val1|       0|         2|         522309.05|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|      NULL|    val1|       0|         2|         500844.52|
|  86419.7|     153514.11|            0.0|  New York|122776.86|      NULL|    val1|       0|         2|         239933.81|
+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+------------------+
only showing top 20 rows

In [25]:
# Add two new columns
df_ps = df_ps.withColumn("new_column1", col("new_column") * 2) \
       .withColumn("new_column2", col("new_col2") + 5)
df_ps.show()

+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+------------------+-----------+-----------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|New column|new_col1|new_col2|new_column| Total Expenditure|new_column1|new_column2|
+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+------------------+-----------+-----------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|      NULL|    val1|       0|         2|          774031.1|          4|          5|
| 162597.7|     151377.59|      443898.53|California|191792.06|      NULL|    val1|       0|         2| 757873.8200000001|          4|          5|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|      NULL|    val1|       0|         2|          662521.6|          4|          5|
|144372.41|     118671.85|      383199.62|  New York|182901.99|      NULL|    val1|       0|         2|         646243.88|          4|          5|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|      NULL|    val1|       0|         2|         599667.53|          4|          5|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|      NULL|    val1|       0|         2|         594552.97|          4|          5|
|134615.46|     147198.87|      127716.82|California|156122.51|      NULL|    val1|       0|         2|409531.14999999997|          4|          5|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|      NULL|    val1|       0|         2|         599704.87|          4|          5|
|120542.52|     148718.95|      311613.29|  New York|152211.77|      NULL|    val1|       0|         2|         580874.76|          4|          5|
|123334.88|     108679.17|      304981.62|California|149759.96|      NULL|    val1|       0|         2| 536995.6699999999|          4|          5|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|      NULL|    val1|       0|         2|         441668.14|          4|          5|
|100671.96|      91790.61|      249744.55|California| 144259.4|      NULL|    val1|       0|         2|         442207.12|          4|          5|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|      NULL|    val1|       0|         2|         471023.57|          4|          5|
| 91992.39|     135495.07|      252664.93|California|134307.35|      NULL|    val1|       0|         2|         480152.39|          4|          5|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|      NULL|    val1|       0|         2| 533003.5800000001|          4|          5|
|114523.61|     122616.84|      261776.23|  New York|129917.04|      NULL|    val1|       0|         2|498916.68000000005|          4|          5|
| 78013.11|     121597.55|      264346.06|California|126992.93|      NULL|    val1|       0|         2|         463956.72|          4|          5|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|      NULL|    val1|       0|         2|         522309.05|          4|          5|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|      NULL|    val1|       0|         2|         500844.52|          4|          5|
|  86419.7|     153514.11|            0.0|  New York|122776.86|      NULL|    val1|       0|         2|         239933.81|          4|          5|
+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+------------------+-----------+-----------+
only showing top 20 rows

## dropping column or columns

In [26]:
df_ps = df_ps.drop("new_column2")
df_ps.show()

+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+------------------+-----------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|New column|new_col1|new_col2|new_column| Total Expenditure|new_column1|
+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+------------------+-----------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|      NULL|    val1|       0|         2|          774031.1|          4|
| 162597.7|     151377.59|      443898.53|California|191792.06|      NULL|    val1|       0|         2| 757873.8200000001|          4|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|      NULL|    val1|       0|         2|          662521.6|          4|
|144372.41|     118671.85|      383199.62|  New York|182901.99|      NULL|    val1|       0|         2|         646243.88|          4|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|      NULL|    val1|       0|         2|         599667.53|          4|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|      NULL|    val1|       0|         2|         594552.97|          4|
|134615.46|     147198.87|      127716.82|California|156122.51|      NULL|    val1|       0|         2|409531.14999999997|          4|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|      NULL|    val1|       0|         2|         599704.87|          4|
|120542.52|     148718.95|      311613.29|  New York|152211.77|      NULL|    val1|       0|         2|         580874.76|          4|
|123334.88|     108679.17|      304981.62|California|149759.96|      NULL|    val1|       0|         2| 536995.6699999999|          4|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|      NULL|    val1|       0|         2|         441668.14|          4|
|100671.96|      91790.61|      249744.55|California| 144259.4|      NULL|    val1|       0|         2|         442207.12|          4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|      NULL|    val1|       0|         2|         471023.57|          4|
| 91992.39|     135495.07|      252664.93|California|134307.35|      NULL|    val1|       0|         2|         480152.39|          4|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|      NULL|    val1|       0|         2| 533003.5800000001|          4|
|114523.61|     122616.84|      261776.23|  New York|129917.04|      NULL|    val1|       0|         2|498916.68000000005|          4|
| 78013.11|     121597.55|      264346.06|California|126992.93|      NULL|    val1|       0|         2|         463956.72|          4|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|      NULL|    val1|       0|         2|         522309.05|          4|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|      NULL|    val1|       0|         2|         500844.52|          4|
|  86419.7|     153514.11|            0.0|  New York|122776.86|      NULL|    val1|       0|         2|         239933.81|          4|
+---------+--------------+---------------+----------+---------+----------+--------+--------+----------+------------------+-----------+
only showing top 20 rows

In [27]:
df_ps = df_ps.drop("New column", "new_col1", "new_col2", "new_column", "new_column1")
df_ps.show()

+---------+--------------+---------------+----------+---------+------------------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit| Total Expenditure|
+---------+--------------+---------------+----------+---------+------------------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|          774031.1|
| 162597.7|     151377.59|      443898.53|California|191792.06| 757873.8200000001|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|          662521.6|
|144372.41|     118671.85|      383199.62|  New York|182901.99|         646243.88|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|         599667.53|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|         594552.97|
|134615.46|     147198.87|      127716.82|California|156122.51|409531.14999999997|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|         599704.87|
|120542.52|     148718.95|      311613.29|  New York|152211.77|         580874.76|
|123334.88|     108679.17|      304981.62|California|149759.96| 536995.6699999999|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|         441668.14|
|100671.96|      91790.61|      249744.55|California| 144259.4|         442207.12|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|         471023.57|
| 91992.39|     135495.07|      252664.93|California|134307.35|         480152.39|
|119943.24|     156547.42|      256512.92|   Florida|132602.65| 533003.5800000001|
|114523.61|     122616.84|      261776.23|  New York|129917.04|498916.68000000005|
| 78013.11|     121597.55|      264346.06|California|126992.93|         463956.72|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|         522309.05|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|         500844.52|
|  86419.7|     153514.11|            0.0|  New York|122776.86|         239933.81|
+---------+--------------+---------------+----------+---------+------------------+
only showing top 20 rows

## renaming column or columns

In [28]:
df_ps = df_ps.withColumnRenamed("Total Expenditure", "Total Spent")
df_ps.show()

+---------+--------------+---------------+----------+---------+------------------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|       Total Spent|
+---------+--------------+---------------+----------+---------+------------------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|          774031.1|
| 162597.7|     151377.59|      443898.53|California|191792.06| 757873.8200000001|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|          662521.6|
|144372.41|     118671.85|      383199.62|  New York|182901.99|         646243.88|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|         599667.53|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|         594552.97|
|134615.46|     147198.87|      127716.82|California|156122.51|409531.14999999997|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|         599704.87|
|120542.52|     148718.95|      311613.29|  New York|152211.77|         580874.76|
|123334.88|     108679.17|      304981.62|California|149759.96| 536995.6699999999|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|         441668.14|
|100671.96|      91790.61|      249744.55|California| 144259.4|         442207.12|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|         471023.57|
| 91992.39|     135495.07|      252664.93|California|134307.35|         480152.39|
|119943.24|     156547.42|      256512.92|   Florida|132602.65| 533003.5800000001|
|114523.61|     122616.84|      261776.23|  New York|129917.04|498916.68000000005|
| 78013.11|     121597.55|      264346.06|California|126992.93|         463956.72|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|         522309.05|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|         500844.52|
|  86419.7|     153514.11|            0.0|  New York|122776.86|         239933.81|
+---------+--------------+---------------+----------+---------+------------------+
only showing top 20 rows

In [29]:
# Rename multiple columns
df_ps = df_ps.withColumnRenamed("Total Spent", "Total Expenditure") \
       .withColumnRenamed("State", "USA State")
df_ps.show()

+---------+--------------+---------------+----------+---------+------------------+
|R&D Spend|Administration|Marketing Spend| USA State|   Profit| Total Expenditure|
+---------+--------------+---------------+----------+---------+------------------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|          774031.1|
| 162597.7|     151377.59|      443898.53|California|191792.06| 757873.8200000001|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|          662521.6|
|144372.41|     118671.85|      383199.62|  New York|182901.99|         646243.88|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|         599667.53|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|         594552.97|
|134615.46|     147198.87|      127716.82|California|156122.51|409531.14999999997|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|         599704.87|
|120542.52|     148718.95|      311613.29|  New York|152211.77|         580874.76|
|123334.88|     108679.17|      304981.62|California|149759.96| 536995.6699999999|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|         441668.14|
|100671.96|      91790.61|      249744.55|California| 144259.4|         442207.12|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|         471023.57|
| 91992.39|     135495.07|      252664.93|California|134307.35|         480152.39|
|119943.24|     156547.42|      256512.92|   Florida|132602.65| 533003.5800000001|
|114523.61|     122616.84|      261776.23|  New York|129917.04|498916.68000000005|
| 78013.11|     121597.55|      264346.06|California|126992.93|         463956.72|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|         522309.05|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|         500844.52|
|  86419.7|     153514.11|            0.0|  New York|122776.86|         239933.81|
+---------+--------------+---------------+----------+---------+------------------+
only showing top 20 rows

## selecting row or rows

In [30]:
df_ps.filter(df_ps["Marketing Spend"] == 471784.1).show()

+---------+--------------+---------------+---------+---------+-----------------+
|R&D Spend|Administration|Marketing Spend|USA State|   Profit|Total Expenditure|
+---------+--------------+---------------+---------+---------+-----------------+
| 165349.2|      136897.8|       471784.1| New York|192261.83|         774031.1|
+---------+--------------+---------------+---------+---------+-----------------+

In [31]:
df_ps.where(df_ps["Marketing Spend"] == 471784.1).show()

+---------+--------------+---------------+---------+---------+-----------------+
|R&D Spend|Administration|Marketing Spend|USA State|   Profit|Total Expenditure|
+---------+--------------+---------------+---------+---------+-----------------+
| 165349.2|      136897.8|       471784.1| New York|192261.83|         774031.1|
+---------+--------------+---------------+---------+---------+-----------------+

In [32]:
df_ps.filter((df_ps["Profit"] > 130000) & (df_ps["Profit"] < 150000)).show()

+---------+--------------+---------------+----------+---------+-----------------+
|R&D Spend|Administration|Marketing Spend| USA State|   Profit|Total Expenditure|
+---------+--------------+---------------+----------+---------+-----------------+
|123334.88|     108679.17|      304981.62|California|149759.96|536995.6699999999|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|        441668.14|
|100671.96|      91790.61|      249744.55|California| 144259.4|        442207.12|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|        471023.57|
| 91992.39|     135495.07|      252664.93|California|134307.35|        480152.39|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|533003.5800000001|
+---------+--------------+---------------+----------+---------+-----------------+

## adding row or rows

## dropping row or rows

In [41]:
# Dropping Duplicate Rows

df_ps = df_ps.dropDuplicates()
df_ps.show()

Py4JJavaError: An error occurred while calling o255.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 29.0 failed 1 times, most recent failure: Lost task 1.0 in stage 29.0 (TID 37) (LAPTOP-SRU23534 executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "E:\Notebook Project\env\Lib\site-packages\pyspark\python\lib\pyspark.zip\pyspark\worker.py", line 1100, in main
pyspark.errors.exceptions.base.PySparkRuntimeError: [PYTHON_VERSION_MISMATCH] Python in worker has different version (3, 8) than that in driver 3.9, PySpark cannot run with different minor versions.
Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:784)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.hashAgg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1130)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:630)
	at java.base/java.lang.Thread.run(Thread.java:831)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "E:\Notebook Project\env\Lib\site-packages\pyspark\python\lib\pyspark.zip\pyspark\worker.py", line 1100, in main
pyspark.errors.exceptions.base.PySparkRuntimeError: [PYTHON_VERSION_MISMATCH] Python in worker has different version (3, 8) than that in driver 3.9, PySpark cannot run with different minor versions.
Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:784)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.hashAgg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1130)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:630)
	at java.base/java.lang.Thread.run(Thread.java:831)

In [39]:
spark.conf.set("spark.network.timeout", "800s")
spark.conf.set("spark.executor.heartbeatInterval", "60s")

AnalysisException: [CANNOT_MODIFY_CONFIG] Cannot modify the value of the Spark config: "spark.network.timeout".
See also 'https://spark.apache.org/docs/latest/sql-migration-guide.html#ddl-statements'.

In [40]:
spark = SparkSession.builder \
    .master("local[*]") \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "4g") \
    .getOrCreate()